*,body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

nz-breadcrumb{
  margin-bottom: 20px;
}

.ant-picker, .ant-picker-input{
  border-radius: 8px;
}
  
.card-wrapper-content{
  box-shadow: 0 0 2px #919eab33,0 12px 24px -4px #919eab1f;
  border-radius: 1.15rem !important;
  height: 100%;
}
  
.input-label{
  font-size: 13px;
  color: #637381;
  font-weight: 500;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #fff;
  left: 15px;
  padding: 0 5px;
}
  
.filter-row{
  padding-bottom: 24px;
}
  
#keyword.ant-input,
.ant-input-search .ant-input-wrapper .ant-input {
  border-radius: 8px 0 0 8px !important;
}

.ant-input-search .ant-input-group-addon .ant-btn {
  border-radius: 0 8px 8px 0 !important;
}
  
.ant-input-search.ant-input-group-wrapper {
  border-radius: 8px !important;
}

::ng-deep .ant-select-selector {
  border-radius: 8px !important;
}

::ng-deep .ant-pagination-item {
  border-radius: 50% !important;
}

::ng-deep .ant-pagination-item-link {
  border-radius: 50% !important;
}

::ng-deep .ant-select-selection-item {
  text-align: left !important;
}
  
::ng-deep .ant-select-dropdown {
  border-radius: 8px !important;
}

::ng-deep .ant-picker-panel-container {
  border-radius: 8px !important;
}

::ng-deep .ant-tooltip-inner {
  border-radius: 8px;  
}