<nz-breadcrumb>
  <div nz-flex nzalign="center" class="ant-flex ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="gap: 0px; flex: unset;">
    <div nz-flex nzalign="center" class="ant-flex ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
      <span>Thiết bị</span>
      <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
    </div>
    <nz-breadcrumb-item>
      <span class="ant-breadcrumb-link">
        <a href="/#/cameras">Camera</a>
      </span>
    </nz-breadcrumb-item>
  </div>
</nz-breadcrumb>
<div class="inner-content">
  <nz-card class="ant-card card-wrapper-content ant-card-bordered">
    <div class="ant-card-body" style="padding: 24px 0px;"> 
      <nz-row class="ant-row filter-row" style="margin: -12px -6px;">
        <nz-col nzxl="8" nzlg="8" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-8 ant-col-xl-8" style="padding: 12px 6px;">
          <fieldset>
            <label for="keyword" class="input-label" style="color: #0c68e9;">Từ khóa</label>
            <nz-input-group nzsearch class="ant-input-search ant-input-group-wrapper">
                <span class="ant-input-wrapper ant-input-group">
                    <input type="text" nz-input id="keyword" class="ant-input" 
                          placeholder="Từ khóa..." 
                          [(ngModel)]="searchKeyword"
                          (keyup.enter)="onSearch()">
                    <span nz-input-group-slot type="addon" class="ant-input-group-addon">
                        <button nz-button nzType="primary" (click)="onSearch()" class="ant-btn ant-btn-primary ant-btn-icon-only">
                            <span nz-icon nzType="search" class="anticon"></span>
                        </button>
                    </span>
                </span>
            </nz-input-group>
        </fieldset>
        </nz-col>
                <nz-col nzxl="16" nzlg="16" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-16 ant-col-xl-16" style="padding: 12px 6px;">
                    <table-action>
                        <div nz-row class="ant-row">  
                            <div nz-col nzxl="24" nzlg="24" nzmd="0" nzsm="0" nzxs="0" class="ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-0 ant-col-lg-24 ant-col-xl-24">
                                <div nz-flex nzgap="6px" class="ant-flex wrapper-table-action ant-flex-justify-end ant-flex-align-center ant-flex-wrap-nowrap" style="width: 100%; height: 100%; gap: 6px; flex: unset;">
                                    <button (click)="loadCameras()" nz-button nztype="text" class="ant-btn load-btn ant-btn-text">
                                        <span nz-icon class="anticon">
                                            <fa-icon class="ng-fa-icon">
                                                <img src="../../../assets/images/logo/rotate-solid.svg" style="height: 14px; width: 14px;" alt="">                                
                                            </fa-icon>
                                        </span>
                                        <span>Tải lại</span>
                                    </button> 
                                    <nz-divider class="ant-divider ant-divider-vertical"></nz-divider>
                                    <button *ngIf="loginService.hasPermission('POST:/api/camera')" (click)="showAddCameraModal()" nz-button nztype="primary" class="ant-btn add-btn ant-btn-primary" style="display: flex; align-items: center;"> 
                                        <span nz-icon nzType="plus" nzTheme="outline" class="anticon"></span>
                                        <span>Thêm mới</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </table-action>
                </nz-col>
            </nz-row>
            <nz-table
              #cameraTable
              [nzData]="cameras"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              [nzLoading]="loading"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzPageSizeOptions]="[10, 20, 30, 40]"
              [nzShowTotal]="paginationTemplate"
              (nzQueryParams)="onQueryParamsChange($event)"
              style="table-layout: fixed;"
            >
              <thead>
                <tr>
                  <th style="width: 60px; min-width: 60px; text-align: center;">#</th>
                  <th>Tên</th>
                  <th>Mã</th>
                  <th>Địa chỉ IP</th>
                  <th>Loại</th>
                  <th>Máy tính</th>
                  <th style="width: 60px; min-width: 60px; text-align: center;">TT</th>
                  <th style="width: 130px; min-width: 130px; text-align: center;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let camera of cameras; let i = index">
                  <td style="text-align: center;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                  <td>{{ camera.name }}</td>
                  <td>{{ camera.code }}</td>
                  <td style="color: #006c9c;">{{ camera.ipAddress }}</td>
                  <td>
                    <nz-tag *ngIf="getCameraType(camera.type) as opt" [nzColor]="opt.color" style="border-radius: 8px; font-size: 12px;">
                      {{ opt.label }}
                    </nz-tag>
                  </td>
                  <td>{{ getComputerNameById(camera.computerId) }}</td>
                  <td style="text-align: center;">
                    <i *ngIf="camera.status; else falseIcon" nz-icon nzType="check-circle" class="icon-green" style="font-size: 18px;"></i>
                    <ng-template #falseIcon>
                      <i nz-icon nzType="close-circle" class="icon-red" style="font-size: 18px;"></i>
                    </ng-template>
                  </td>
                  <td style="text-align: center;">
                    <button *ngIf="loginService.hasPermission('PUT:/api/camera/{id}')" nz-button class="ant-btn edit-btn ant-btn-icon-only" (click)="updateCamera(camera.id)">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('DELETE:/api/camera/{id}')" nz-button class="ant-btn delete-btn ant-btn-icon-only" (click)="deleteCamera(camera.id)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('PATCH:/api/camera/{id}/status')" nz-button class="ant-btn ant-btn-icon-only" [ngClass]="camera.status ? 'enabled-btn' : 'disabled-btn'" (click)="toggleCameraStatus(camera.id)">
                      <span nz-icon [nzType]="camera.status ? 'lock' : 'unlock'" nzTheme="outline"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #paginationTemplate>
                Tổng số {{ total }} dữ liệu
              </ng-template>
            </nz-table>
        </div>
    </nz-card>
</div>

<nz-modal 
[nzContent]="addCameraTpl" 
[(nzVisible)]="isAddModalVisible" 
nzTitle="Thêm mới Camera" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleCancel()" 
(nzOnOk)="handleOk()"
></nz-modal>

<ng-template #addCameraTpl>
  <form [formGroup]="cameraForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraName">Tên</nz-form-label>
          <nz-form-control>
            <input id="cameraName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraCode">Mã</nz-form-label>
          <nz-form-control>
            <input id="cameraCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraComputerId">Máy tính</nz-form-label>
          <nz-form-control>
            <nz-select id="cameraComputerId" formControlName="computerId" style="width: 100%;" nzPlaceHolder="Máy tính">
              <nz-option *ngFor="let computer of computers" [nzValue]="computer.id" [nzLabel]="computer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraIpAddress">Địa chỉ IP</nz-form-label>
          <nz-form-control>
            <input id="cameraIpAddress" nz-input formControlName="ipAddress" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraUsername">Tài khoản</nz-form-label>
          <nz-form-control>
            <input id="cameraUsername" nz-input formControlName="username" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="cameraPassword">Mật khẩu</nz-form-label>
          <nz-form-control>
            <input id="cameraPassword" nz-input formControlName="password" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="cameraResolution">Độ phân giải</nz-form-label>
          <nz-form-control>
            <input id="cameraResolution" nz-input formControlName="resolution" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="cameraType">Loại</nz-form-label>
          <nz-form-control>
            <nz-select id="cameraType" formControlName="type" style="width: 100%;">
              <nz-option *ngFor="let type of cameraTypes" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>

<nz-modal 
[nzContent]="editCameraTpl" 
[(nzVisible)]="isEditModalVisible" 
nzTitle="Cập nhật Camera" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleEditCancel()" 
(nzOnOk)="handleEditOk()"
></nz-modal>

<ng-template #editCameraTpl>
  <form [formGroup]="editCameraForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraName">Tên</nz-form-label>
          <nz-form-control>
            <input id="cameraName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraCode">Mã</nz-form-label>
          <nz-form-control>
            <input id="cameraCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraComputerId">Máy tính</nz-form-label>
          <nz-form-control>
            <nz-select id="cameraComputerId" formControlName="computerId" style="width: 100%;">
              <nz-option *ngFor="let computer of computers" [nzValue]="computer.id" [nzLabel]="computer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraIpAddress">Địa chỉ IP</nz-form-label>
          <nz-form-control>
            <input id="cameraIpAddress" nz-input formControlName="ipAddress" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="cameraUsername">Tài khoản</nz-form-label>
          <nz-form-control>
            <input id="cameraUsername" nz-input formControlName="username" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="cameraPassword">Mật khẩu</nz-form-label>
          <nz-form-control>
            <input id="cameraPassword" nz-input formControlName="password" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="cameraResolution">Độ phân giải</nz-form-label>
          <nz-form-control>
            <input id="cameraResolution" nz-input formControlName="resolution" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="cameraType">Loại</nz-form-label>
          <nz-form-control>
            <nz-select id="cameraType" formControlName="type" style="width: 100%;">
              <nz-option *ngFor="let type of cameraTypes" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <span style="margin-right: 8px;">Kích hoạt</span>
        <label nz-checkbox formControlName="status"></label>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>
