*,body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
  
  .logo {
    position: relative;
    height: 64px;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .logo img {
    height: 48px;
    width: auto;
  }
  
  .layout {
    min-height: 100vh;
  }
  
  nz-sider {
    // overflow: auto;
    // height: 100%;
    // position: fixed;
    padding: 0px !important;
    top: 0;
  }
  
  .show-for-large{
    display: block !important;
  }
  
  .menu-sidebar{
    height: 100%;
    position: fixed !important;
    left: 0;
    background-color: #141a21 !important;
    background-size: 50%, 50% !important;
    background-repeat: no-repeat !important;
    backdrop-filter: blur(20px)!important;
    background-position: right top,left bottom!important;
    overflow-y: auto;
  
    &::-webkit-scrollbar {
      width: 6px;
    }
  
    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 3px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
  
  .right-layout {
    margin-left: 230px !important;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
  }
  
  nz-menu{
    color: rgba(0, 0, 0, .85);
  }
  
  .custom-dark-menu [nz-menu] {
    background-color: #141a21 !important;
  }
  
  .custom-menu li[nz-menu-item] span {
    color: #141a21 !important;
  }
  
  
  nz-header {
    background: #fff;
    padding: 0;
    width: 100%;
  }
  
  .ant-layout-header{
    // background: #f0f2f5!important;
    height: 64px;
    color: rgba(0, 0, 0, .85);
    line-height: 64px;
    
  }
  
  nz-breadcrumb{
    margin-bottom: 20px;
  }
  
  nz-content {
    margin: 24px 16px 0;
    overflow: initial;
  }
  
  .inner-content {
    padding: 24px;
    background: #fff;
    text-align: center;
    border-radius: 15px;
  }
  
  nz-footer {
    text-align: center;
  }

  ::ng-deep li[nz-menu-item] {
    &.ant-menu-item {
      padding-left: 25px !important; // Trang chủ
    }
  }

  ::ng-deep li[nz-submenu] > .ant-menu-submenu-title {
    padding-left: 25px !important; // Báo cáo
  }

  nz-header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  
  .ant-btn1{
    background-color: rgba(145 158 171 / .08); 
    border-color: rgba(145 158 171 / .08);
    color: #637381;
    border-radius: 8px;
    margin-left: 15px;
  }
  
  .ant-btn2{
    background-color: rgba(145 158 171 / .08); 
    border-color: rgba(145 158 171 / .08);
    border-radius: 8px;
    color: #637381;
    margin-right: 30px;
  }
  
  .ant-row{
    flex-flow: row wrap;
    display: flex;
  }
  
  .card-wrapper-content{
    box-shadow: 0 0 2px #919eab33,0 12px 24px -4px #919eab1f;
    border-radius: 1.15rem !important;
    height: 100%;
  }
  
  .ant-card-head{
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: #000000d9;
    font-weight: 500;
    font-size: 16px;
    background: 0 0;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid rgba(0,0,0,.06);
  }
  
  .ant-card-head-wrapper{
    display: flex;
    align-items: center;
  }
  
  .ant-card-head-tittle{
    display: inline-block;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .ant-card-extra{
  float: right;
  margin-left: auto;
  padding: 16px;
  color: #000000d9;
  font-weight: 400;
  font-size: 14px;
  }
  
  .ant-picker, .ant-picker-input{
  border-radius: .5rem;
  display: inline-flex;
  position: relative;
  margin: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  padding: 4px 11px;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
  transition: border .3s, box-shadow .3s;
  }
  
  .ant-picker-suffix{
  display: flex;
  flex: none;
  align-self: center;
  margin-left: 4px;
  color: #00000040;
  line-height: 1;
  pointer-events: none;
  }
  
  .anticon{
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  display: inline-block ;
  }
  
  .ant-flex{
    display: flex;
    align-items: flex-start;
  }

  .ant-flex-wrap-nowrap{
  flex-wrap: nowrap;
  }
  
  .ant-flex-align-center{
  align-items: center;
  }
  
  .ant-flex-justify-center{
  justify-content: center;
  }
  
  .ant-flex-vertical{
  flex-direction: column;
  }
  
  .ant-flex{
  display: flex;
  }
  
  .ant-col-xl-8{
  display: block;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  }
  
  .inner-content{
    background-color: #f0f2f5 !important;
    padding: 0 !important;
  }
  
  .input-label{
    font-size: 13px;
    color: #637381;
    font-weight: 500;
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: #fff;
    left: 15px;
    padding: 0 5px;
    transition: .1s all ease-in;
  }
  
  .filter-row{
    padding-bottom: 24px;
  }
  
  .ant-table table{
    width: 100%;
  }
  .ant-input-group{
    padding: 0;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
    color: #000000d9;   
    font-size: 14px;
  }
  
  .ant-btn-text{
    border-color: transparent;
    background: 0 0;
    box-shadow: none;
    color: #141a21;
  }
  
  .wrapper-table-action button{
    padding: 4px 10px !important;
    font-weight: 500 !important;
    color: #1c252e;
  }
  
  .ant-input-search{
    left: -1px;
    padding: 0;
    border-radius: 20px;
  }
  
  .ant-card-body{
    height: 100%;
  }
  
  .add-btn{
    color: #fff !important;
    border-radius: 8px;
  }
  
  .ant-btn-primary{
    // border-color: #0c68e9;
    // background: #0c68e9;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px #0000000b;
  }
  
  .edit-btn{
    background-color: #e6eaed;
    color: #1c252e;
    margin: 2px;
    width: 27px;
    height: 27px;
    border-radius: 10px;
    border: 2px solid #e6eaed;
  }
  
  .edit-btn:hover{
    background-color: #f6ffed;   /* nền xanh nhạt */
    border-color: #52c41a;       /* viền xanh lá */
    color: #52c41a; 
  }
  
  .delete-btn{
    background-color: #e6eaed;
    color: #1c252e;
    margin: 2px;
    width: 27px;
    height: 27px;
    border-radius: 10px;
    border: 2px solid #e6eaed;
    transition: all 0.3s;
  }
  
  .delete-btn:hover{
    background-color: #fff1f0;   /* nền đỏ nhạt */
    border-color: #fe8486;       /* viền đỏ */
    color: #e57c7e;
  }
  
  .enabled-btn,
    .disabled-btn{
      background-color: #e6eaed;
      color: #1c252e;
      margin: 2px;
      width: 27px;
      height: 27px;
      border-radius: 10px;
      border: 2px solid #e6eaed;
      transition: all 0.3s;
    }
  
    .enabled-btn:hover,
    .disabled-btn:hover{
      background-color: #f8fde2;
      color: #eff300;
      border-color: #f4f748;
    }
  
  .ant-btn-icon-only>.anticon{
    display: flex;
    justify-content: center;
  }
  
  .pagination{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  }
  
  .form-group{
    margin-bottom: 15px;
  }
  
  .ant-float-btn-top{
    padding: 0 !important;
  }
  
  .ant-float-btn-circle{
    height: 40px;
    border-radius: 50%;
  }
  
  .ant-float-btn{
    position: fixed;
    z-index: 99;
    display: block;
    align-items: center;
    justify-content: center;
    width: 40px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    inset-inline-end: 24px;
    inset-block-end: 48px;
  }
  
  ::ng-deep .ant-modal-footer .ant-btn {
    border-radius: 8px !important;
  }
  
  ::ng-deep .ant-modal-content,
    ::ng-deep .ant-modal-header {
      border-radius: 8px !important;
    }
  
    ::ng-deep .custom-delete-modal .ant-btn {
      border-radius: 8px !important;
    }
    
    ::ng-deep .custom-delete-modal .ant-modal-content {
      border-radius: 8px !important;
    }
  
  .icon-green {
    color: #52c41a; 
  }
  
  .icon-red {
    color: #ff4d4f; 
  }
  
  #keyword.ant-input,
  .ant-input-search .ant-input-wrapper .ant-input {
    border-radius: 8px 0 0 8px !important;
  }
  
  .ant-input-search .ant-input-group-addon .ant-btn {
    border-radius: 0 8px 8px 0 !important;
  }
  
  .ant-input-search.ant-input-group-wrapper {
    border-radius: 8px !important;
  }
  
  ::ng-deep .custom-delete-modal .ant-btn {
    border-radius: 8px !important;
  }
  
  ::ng-deep .ant-notification-notice {
    border-radius: 8px !important; 
  }
  
  ::ng-deep .ant-select-selector {
    border-radius: 8px !important;
  }
  
  ::ng-deep .ant-pagination-item {
    border-radius: 50% !important;
  }
  
  ::ng-deep .ant-table-placeholder {
    text-align: center !important;
  }
  
  ::ng-deep .ant-pagination-item-link {
    border-radius: 50% !important;
  }
  
  .required-label::after {
    content: ' *';
    color: red;
  }
  

  .stats-container {
    border-radius: 15px;
    margin-bottom: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background-color: #fff;
  }

  .stats-row {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .divider {
    height: 70px;
  }

  ::ng-deep .ant-tooltip-inner {
    border-radius: 8px;  
    }

    .dashboard-card {
  border-radius: 1.15rem !important;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: nowrap;
  }
  
  .card-value {
    font-size: 24px;
    color: #1c252e;
    font-weight: 600;
    display: block;
    height: 100%;
  }
  
  .card-title {
    color: #637381;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
  }
  
  .card-background {
    top: 0;
    width: 140px;
    height: 140px;
    right: -50px;
    opacity: 0.12;
    border-radius: 1.5rem;
    position: absolute;
    transform: rotate(50deg);
  }
}