*,body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

nz-breadcrumb{
  margin-bottom: 20px;
}

.ant-btn1{
  background-color: rgba(145 158 171 / .08); 
  border-color: rgba(145 158 171 / .08);
  color: #637381;
  border-radius: 8px;
  margin-left: 15px;
}

.ant-btn2{
  background-color: rgba(145 158 171 / .08); 
  border-color: rgba(145 158 171 / .08);
  border-radius: 8px;
  color: #637381;
  margin-right: 30px;
}

.ant-btn-text{
  border-color: transparent;
  background: 0 0;
  box-shadow: none;
  color: #141a21;
}

.ant-btn-primary{
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px #0000000b;
}

.add-btn{
  color: #fff !important;
  border-radius: 8px;
}

.edit-btn{
  background-color: #e6eaed;
  color: #1c252e;
  margin: 2px;
  width: 27px;
  height: 27px;
  border-radius: 10px;
  border: 2px solid #e6eaed;
}

.edit-btn:hover{
  background-color: #f6ffed;   
  border-color: #52c41a;       
  color: #52c41a; 
}

.ant-btn-icon-only>.anticon{
  display: flex;
  justify-content: center;
}

.ant-row{
  flex-flow: row wrap;
  display: flex;
}

.card-wrapper-content{
  box-shadow: 0 0 2px #919eab33,0 12px 24px -4px #919eab1f;
  border-radius: 1.15rem !important;
  height: 100%;
}

.ant-card-head{
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: #000000d9;
  font-weight: 500;
  font-size: 16px;
  background: 0 0;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid rgba(0,0,0,.06);
}

.ant-card-head-wrapper{
  display: flex;
  align-items: center;
}

.ant-card-head-tittle{
  display: inline-block;
  flex: 1;
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-card-body{
  height: 100%;
}

.dashboard-card {
  border-radius: 1.15rem !important;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: nowrap;
  }
  
  .card-value {
    font-size: 24px;
    color: #1c252e;
    font-weight: 600;
    display: block;
    height: 100%;
  }
  
  .card-title {
    color: #637381;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
  }
  
  .card-background {
    top: 0;
    width: 140px;
    height: 140px;
    right: -50px;
    opacity: 0.12;
    border-radius: 1.5rem;
    position: absolute;
    transform: rotate(50deg);
  }
}

.ant-picker, .ant-picker-input{
  border-radius: 8px;
}

.input-label{
  font-size: 13px;
  color: #637381;
  font-weight: 500;
  position: absolute;
  top: 0;
  z-index: 100;
  background-color: #fff;
  left: 15px;
  padding: 0 5px;
}

#keyword.ant-input,
.ant-input-search .ant-input-wrapper .ant-input {
  border-radius: 8px 0 0 8px !important;
}

.ant-input-search .ant-input-group-addon .ant-btn {
  border-radius: 0 8px 8px 0 !important;
}

.ant-input-search.ant-input-group-wrapper {
  border-radius: 8px !important;
}

.ant-table table{
  width: 100%;
}

.filter-row{
  padding-bottom: 24px;
}

::ng-deep .ant-modal-footer .ant-btn {
  border-radius: 8px !important;
}

::ng-deep .ant-modal-content,
::ng-deep .ant-modal-header {
  border-radius: 8px !important;
}

::ng-deep .ant-select-selector {
  border-radius: 8px !important;
}

::ng-deep .ant-select-dropdown {
  border-radius: 8px !important;
}

::ng-deep .ant-picker-panel-container {
  border-radius: 8px !important;
}

::ng-deep .ant-select-selection-item {
  text-align: left !important;
}

::ng-deep .ant-pagination-item {
  border-radius: 50% !important;
}

::ng-deep .ant-pagination-item-link {
  border-radius: 50% !important;
}

::ng-deep .ant-table-placeholder {
  text-align: center !important;
}

::ng-deep .ant-tooltip-inner {
  border-radius: 8px;  
}

::ng-deep .dark-modal {
  .ant-modal-content {
    background-color: #252525 !important;
    color: white;
  }
  
  .ant-modal-header {
    background-color: #252525 !important;
    border-bottom: 1px solid #434343;
    
    .ant-modal-title {
      color: white !important;
    }
  }
  
  .ant-modal-body {
    background-color: #252525 !important;
    color: white;
  }
  
  .ant-modal-close {
    color: white !important;
  }
}