# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build files
*.exe
*.dll
*.pdb
*.cache
*.obj
*.ilk
*.log
*.tlog
*.tmp
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
nunit-*.xml
*.coverage
*.coveragexml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Code coverage
*.dotCover
.axoCover/*
!.axoCover/settings.json
coverage*.json
coverage*.xml
coverage*.info

# MSBuild Binary and Structured Log
*.binlog

# Others
~$*
*~
*.dbmdl
*.pfx
*.publishsettings
node_modules/
*.code-workspace
.history/

# JetBrains Rider
*.sln.iml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
*.futdcache.v2
*.apphost.exe
DocumentLayout.backup.json

# SQL Server files
*.mdf
*.ldf
*.ndf