<nz-breadcrumb>
  <div nz-flex nzalign="center" class="ant-flex breadcrumb-wrapper ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="gap: 0px; flex: unset;">
    <div nz-flex nzalign="center" class="ant-flex ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
      <span>Thiết bị</span>
      <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
    </div>
    <nz-breadcrumb-item class="">
      <span class="ant-breadcrumb-link ">
        <a href="/#/leds">Led</a>
      </span>
    </nz-breadcrumb-item>
  </div>
</nz-breadcrumb>
<div class="inner-content">
    <nz-card class="ant-card card-wrapper-content ant-card-bordered">
        <div class="ant-card-body" style="padding: 24px 0px;"> 
            <nz-row class="ant-row filter-row " style="margin: -12px -6px;">
                <nz-col nzxl="8" nzlg="8" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-8 ant-col-xl-8" style="padding: 12px 6px;">
                    <fieldset>
                        <label for="keyword" class="input-label" style="color: #0c68e9;">Từ khóa</label>
                        <nz-input-group nzsearch class="ant-input-search ant-input-group-wrapper">
                            <span class="ant-input-wrapper ant-input-group">
                                <input type="text" nz-input id="keyword" class="ant-input" 
                                      placeholder="Từ khóa..." 
                                      [(ngModel)]="searchKeyword"
                                      (keyup.enter)="onSearch()">
                                <span nz-input-group-slot type="addon" class="ant-input-group-addon">
                                    <button nz-button nzType="primary" (click)="onSearch()" class="ant-btn ant-btn-primary ant-btn-icon-only">
                                        <span nz-icon nzType="search" class="anticon"></span>
                                    </button>
                                </span>
                            </span>
                        </nz-input-group>
                    </fieldset>
                </nz-col>
                <nz-col nzxl="16" nzlg="16" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-16 ant-col-xl-16" style="padding: 12px 6px;">
                    <table-action>
                        <div nz-row class="ant-row">  
                            <div nz-col nzxl="24" nzlg="24" nzmd="0" nzsm="0" nzxs="0" class="ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-0 ant-col-lg-24 ant-col-xl-24">
                                <div nz-flex nzgap="6px" class="ant-flex wrapper-table-action ant-flex-justify-end ant-flex-align-center ant-flex-wrap-nowrap " style="width: 100%; height: 100%; gap: 6px; flex: unset;">
                                    <button (click)="loadLeds()" nz-button nztype="text" class="ant-btn load-btn ant-btn-text">
                                        <span nz-icon class="anticon">
                                            <fa-icon class="ng-fa-icon">
                                                <img src="../../../assets/images/logo/rotate-solid.svg" style="height: 14px; width: 14px;" alt="">                                
                                            </fa-icon>
                                        </span>
                                        <span class="">Tải lại</span>
                                    </button> 
                                    <nz-divider class="ant-divider ant-divider-vertical "></nz-divider>
                                    <button *ngIf="loginService.hasPermission('POST:/api/led')" (click)="showAddLedModal()" nz-button nztype="primary" class="ant-btn add-btn ant-btn-primary" style="display: flex; align-items: center;"> 
                                        <span nz-icon nzType="plus" nzTheme="outline" class="anticon"></span>
                                        <span>Thêm mới</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </table-action>
                </nz-col>
            </nz-row>
            <nz-table
              #ledTable
              [nzData]="leds"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              [nzLoading]="loading"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzPageSizeOptions]="[10, 20, 30, 40]"
              [nzShowTotal]="paginationTemplate"
              (nzQueryParams)="onQueryParamsChange($event)"
            >
              <thead>
                <tr>
                  <th style="width: 60px; min-width: 60px; text-align: center;">#</th>
                  <th>Tên</th>
                  <th>Mã</th>
                  <th>Máy tính</th>
                  <th>Cổng COM/IP</th>
                  <th>Baudrate</th>
                  <th>Loại</th>
                  <th style="width: 60px; min-width: 60px; text-align: center;">TT</th>
                  <th style="width: 130px; min-width: 130px; text-align: center;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let led of leds; let i = index">
                  <td style="text-align: center;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                  <td>{{ led.name }}</td>
                  <td>{{ led.code }}</td>
                  <td>{{ getComputerNameById(led.computerId) }}</td>
                  <td style="color: #006c9c;">{{ led.comport }}</td>
                  <td>{{ led.baudrate }}</td>
                  <td>
                    <nz-tag *ngIf="getLedType(led.type) as opt" [nzColor]="opt.color" style="border-radius: 8px; font-size: 12px;">
                      {{ opt.label }}
                    </nz-tag>
                  </td>                        
                  <td style="text-align: center;">
                    <i *ngIf="led.status; else falseIcon" nz-icon nzType="check-circle" class="icon-green" style="font-size: 18px;"></i>
                    <ng-template #falseIcon>
                      <i nz-icon nzType="close-circle" class="icon-red" style="font-size: 18px;"></i>
                    </ng-template>
                  </td>
                  <td style="text-align: center;">
                    <button *ngIf="loginService.hasPermission('PUT:/api/led/{id}')" nz-button class="ant-btn edit-btn ant-btn-icon-only " (click)="updateLed(led.id)">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('PUT:/api/led/{id}')" nz-button class="ant-btn delete-btn ant-btn-icon-only " (click)="deleteLed(led.id)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('PATCH:/api/led/{id}/status')" nz-button class="ant-btn ant-btn-icon-only" [ngClass]="led.status ? 'enabled-btn' : 'disabled-btn'" (click)="toggleLedStatus(led.id)">
                      <span nz-icon [nzType]="led.status ? 'lock' : 'unlock'" nzTheme="outline"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #paginationTemplate>
                Tổng số {{ total }} dữ liệu
              </ng-template>
            </nz-table>
        </div>
    </nz-card>
</div>

<nz-modal 
[nzContent]="addLedTpl" 
[(nzVisible)]="isAddModalVisible" 
nzTitle="Thêm mới Led" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleCancel()" 
(nzOnOk)="handleOk()"
></nz-modal>

<ng-template #addLedTpl>
  <form [formGroup]="ledForm" nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledName'" [nzRequired]="true">Tên</nz-form-label>
          <nz-form-control>
            <input id="ledName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledCode'" [nzRequired]="true">Mã</nz-form-label>
          <nz-form-control>
            <input id="ledCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'computerId'" [nzRequired]="true">Máy tính</nz-form-label>
          <nz-form-control>
            <nz-select id="computerId" formControlName="computerId" style="width: 100%;" nzPlaceHolder="Máy tính">
              <nz-option *ngFor="let computer of computers" [nzValue]="computer.id" [nzLabel]="computer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledBaudrate'">Baudrate</nz-form-label>
          <nz-form-control>
            <input id="ledBaudrate" nz-input formControlName="baudrate" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'type'">Loại</nz-form-label>
          <nz-form-control>
            <nz-select id="type" formControlName="type" style="width: 100%;">
              <nz-option
                *ngFor="let type of ledTypes"
                [nzValue]="type.value"
                [nzLabel]="type.label"
              >
                <ng-template #customTemplate>
                  <nz-tag [nzColor]="type.color">{{ type.label }}</nz-tag>
                </ng-template>
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledComport'">Cổng COM/IP</nz-form-label>
          <nz-form-control>
            <input id="ledComport" nz-input formControlName="comport" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>


<nz-modal 
[nzContent]="editLedTpl" 
[(nzVisible)]="isEditModalVisible" 
nzTitle="Cập nhật Led" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleEditCancel()" 
(nzOnOk)="handleEditOk()"
></nz-modal>

  <ng-template #editLedTpl>
  <form [formGroup]="editLedForm" nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledName'" [nzRequired]="true">Tên</nz-form-label>
          <nz-form-control>
            <input id="ledName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledCode'" [nzRequired]="true">Mã</nz-form-label>
          <nz-form-control>
            <input id="ledCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'computerId'" [nzRequired]="true">Máy tính</nz-form-label>
          <nz-form-control>
            <nz-select id="computerId" formControlName="computerId" style="width: 100%;" nzPlaceHolder="Máy tính">
              <nz-option *ngFor="let computer of computers" [nzValue]="computer.id" [nzLabel]="computer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledBaudrate'">Baudrate</nz-form-label>
          <nz-form-control>
            <input id="ledBaudrate" nz-input formControlName="baudrate" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'type'">Loại</nz-form-label>
          <nz-form-control>
            <nz-select id="type" formControlName="type" style="width: 100%;">
              <nz-option
                *ngFor="let type of ledTypes"
                [nzValue]="type.value"
                [nzLabel]="type.label"
              >
                <ng-template #customTemplate>
                  <nz-tag [nzColor]="type.color">{{ type.label }}</nz-tag>
                </ng-template>
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'ledComport'">Cổng COM/IP</nz-form-label>
          <nz-form-control>
            <input id="ledComport" nz-input formControlName="comport" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>
