*, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.layout {
  min-height: 100vh;
}

nz-sider {
  padding: 0px !important;
  top: 0;
}

.right-layout {
  margin-left: 230px !important;
  width: 100%;
  overflow: hidden;
  overflow-y: hidden;
}

nz-header {
  background: #fff;
  padding: 0;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.ant-layout-header {
  height: 64px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 64px;
}

nz-content {
  margin: 24px 17px 0;
  overflow: initial;
}

.menu-sidebar {
  height: 100%;
  position: fixed !important;
  background-color: #141a21 !important;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  ::ng-deep .ant-menu {
    background-color: #141a21 !important;
  }

  ::ng-deep .ant-menu-item-selected {
    background-color: #ffffff14 !important;
    color: #fa7300 !important;
    border-radius: 8px;

    .anticon,
    .ant-menu-title-content,
    span {
      color: #fa7300 !important;
    }
  }
}

.logo {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 45px;
  width: auto;
}

::ng-deep li[nz-menu-item] {
  &.ant-menu-item {
    padding-left: 25px !important;
  }
}

::ng-deep li[nz-submenu] > .ant-menu-submenu-title {
  padding-left: 25px !important;
}

::ng-deep li.ant-menu-submenu-selected > .ant-menu-submenu-title {
  position: relative;
}

::ng-deep li.ant-menu-submenu-selected > .ant-menu-submenu-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 5px;
  width: 2px;
  background-color: #fa7300;
  border-radius: 3px;
}

input[nz-input],
button[nz-button] {
  border-radius: 8px !important;
}

::ng-deep .ant-notification-notice {
  border-radius: 10px !important;
}

.password-toggle-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #00000073;
}

