<nz-breadcrumb>
  <div nz-flex nzalign="center" class="ant-flex breadcrumb-wrapper ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="gap: 0px; flex: unset;">
    <div nz-flex nzalign="center" class="ant-flex ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
      <span>Thiết bị</span>
      <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
    </div>
    <nz-breadcrumb-item>
      <span class="ant-breadcrumb-link">
        <a href="/#/computers">Máy tính</a>
      </span>
    </nz-breadcrumb-item>
  </div>
</nz-breadcrumb>
<div class="inner-content">
    <nz-card class="ant-card card-wrapper-content ant-card-bordered">
        <div class="ant-card-body" style="padding: 24px 0px;"> 
            <nz-row class="ant-row filter-row" style="margin: -12px -6px;">
                <nz-col nzxl="8" nzlg="8" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-8 ant-col-xl-8" style="padding: 12px 6px;">
                    <fieldset>
                        <label for="keyword" class="input-label" style="color: #0c68e9;">Từ khóa</label>
                        <nz-input-group nzsearch class="ant-input-search ant-input-group-wrapper">
                            <span class="ant-input-wrapper ant-input-group">
                                <input type="text" nz-input id="keyword" class="ant-input" 
                                      placeholder="Từ khóa..." 
                                      [(ngModel)]="searchKeyword"
                                      (keyup.enter)="onSearch()">
                                <span nz-input-group-slot type="addon" class="ant-input-group-addon">
                                    <button nz-button nzType="primary" (click)="onSearch()" class="ant-btn ant-btn-primary ant-btn-icon-only">
                                        <span nz-icon nzType="search" class="anticon"></span>
                                    </button>
                                </span>
                            </span>
                        </nz-input-group>
                    </fieldset>
                </nz-col>
                <nz-col nzxl="16" nzlg="16" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-16 ant-col-xl-16" style="padding: 12px 6px;">
                    <table-action>
                        <div nz-row class="ant-row">  
                            <div nz-col nzxl="24" nzlg="24" nzmd="0" nzsm="0" nzxs="0" class="ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-0 ant-col-lg-24 ant-col-xl-24">
                                <div nz-flex nzgap="6px" class="ant-flex wrapper-table-action ant-flex-justify-end ant-flex-align-center ant-flex-wrap-nowrap" style="width: 100%; height: 100%; gap: 6px; flex: unset;">
                                    <button (click)="loadComputers()" nz-button nztype="text" class="ant-btn load-btn ant-btn-text">
                                        <span nz-icon class="anticon">
                                            <fa-icon class="ng-fa-icon">
                                                <img src="../../../assets/images/logo/rotate-solid.svg" style="height: 14px; width: 14px;" alt="">                                
                                            </fa-icon>
                                        </span>
                                        <span>Tải lại</span>
                                    </button> 
                                    <nz-divider class="ant-divider ant-divider-vertical"></nz-divider>
                                    <button *ngIf="loginService.hasPermission('POST:/api/computer')" (click)="showAddComputerModal()" nz-button nztype="primary" class="ant-btn add-btn ant-btn-primary" style="display: flex; align-items: center;"> 
                                        <span nz-icon nzType="plus" nzTheme="outline" class="anticon"></span>
                                        <span>Thêm mới</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </table-action>
                </nz-col>
            </nz-row>
            <nz-table
              #computerTable
              [nzData]="computers"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              [nzLoading]="loading"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzPageSizeOptions]="[10, 20, 30, 40]"
              [nzShowTotal]="paginationTemplate"
              (nzQueryParams)="onQueryParamsChange($event)"
              style="table-layout: fixed;"
            >
              <thead>
                <tr>
                  <th style="width: 60px; min-width: 60px; text-align: center;">#</th>
                  <th>Tên</th>
                  <th>Địa chỉ IP</th>
                  <th>Cổng</th>
                  <th style="width: 60px; min-width: 60px; text-align: center;">TT</th>
                  <th style="width: 130px; min-width: 130px; text-align: center;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let computer of computers; let i = index">
                  <td style="text-align: center;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                  <td>{{ computer.name }}</td>
                  <td style="color: #006c9c;">{{ computer.ipAddress }}</td>
                  <td>{{ getGateNameById(computer.gateId) || ''}}</td>
                  <td style="text-align: center;">
                    <i *ngIf="computer.status; else falseIcon" nz-icon nzType="check-circle" class="icon-green" style="font-size: 18px;"></i>
                    <ng-template #falseIcon>
                      <i nz-icon nzType="close-circle" class="icon-red" style="font-size: 18px;"></i>
                    </ng-template>
                  </td>
                  <td style="text-align: center;">
                    <button *ngIf="loginService.hasPermission('PUT:/api/computer/{id}')" nz-button class="ant-btn edit-btn ant-btn-icon-only" (click)="updateComputer(computer.id)">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('DELETE:/api/computer/{id}')" nz-button class="ant-btn delete-btn ant-btn-icon-only" (click)="deleteComputer(computer.id)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('PATCH:/api/computer/{id}/status')" nz-button class="ant-btn ant-btn-icon-only" [ngClass]="computer.status ? 'enabled-btn' : 'disabled-btn'" (click)="toggleComputerStatus(computer.id)">
                      <span nz-icon [nzType]="computer.status ? 'lock' : 'unlock'" nzTheme="outline"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #paginationTemplate>
                Tổng số {{ total }} dữ liệu
              </ng-template>
            </nz-table>
        </div>
    </nz-card>
</div>


<nz-modal 
[nzContent]="addComputerTpl" 
[(nzVisible)]="isAddModalVisible" 
nzTitle="Thêm mới Máy tính" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleCancel()" 
(nzOnOk)="handleOk()">
</nz-modal>
  <ng-template #addComputerTpl>
    <form [formGroup]="computerForm"> 
      <div class="form-group">
        <label for="computerName" class="required-label" style="margin-bottom: 10px;">Tên:</label>
        <input id="computerName" nz-input formControlName="name" style="border-radius: 8px;"/>
      </div>
      
      <div class="form-group">
        <label for="computerIpAddress" class="required-label" style="margin-bottom: 10px;">Địa chỉ IP:</label>
        <input id="computerIpAddress" nz-input formControlName="ipAddress" style="border-radius: 8px;"/>
      </div>

      <div class="form-group">
        <label for="computerGateId" style="margin-bottom: 10px;">Cổng:</label>
        <nz-select formControlName="gateId" nzAllowClear style="width: 100%;">
          <nz-option *ngFor="let gate of gates" [nzValue]="gate.id" [nzLabel]="gate.name"></nz-option>
        </nz-select>
      </div>
    </form>
  </ng-template>

<nz-modal [nzContent]="editComputerTpl" [(nzVisible)]="isEditModalVisible" nzTitle="Cập nhật Máy tính" nzOktext="Lưu" nzCancelText="Hủy bỏ" (nzOnCancel)="handleEditCancel()" (nzOnOk)="handleEditOk()"></nz-modal>
  <ng-template #editComputerTpl>
    <form [formGroup]="editComputerForm"> 
      <div class="form-group">
        <label for="computerName" class="required-label" style="margin-bottom: 10px;">Tên:</label>
        <input id="computerName" nz-input formControlName="name" style="border-radius: 8px;"/>
      </div>
      
      <div class="form-group">
        <label for="gateIpAddress" class="required-label" style="margin-bottom: 10px;">Địa chỉ IP:</label>
        <input id="gateIpAddress" nz-input formControlName="ipAddress" style="border-radius: 8px;"/>
      </div>

      <div class="form-group">
        <label for="computerGateId" style="margin-bottom: 10px;">Cổng:</label>
        <nz-select formControlName="gateId" style="width: 100%; border-radius: 8px;">
          <nz-option *ngFor="let gate of gates" [nzValue]="gate.id" [nzLabel]="gate.name"></nz-option>
        </nz-select>
      </div>

      <div class="form-group">
        <label for="gateStatus" style="margin-bottom: 10px;">Kích hoạt:</label>
        <label nz-checkbox formControlName="status" style="margin-left: 10px;"></label>
      </div>
    </form>
  </ng-template> 
