*, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

nz-breadcrumb {
  margin-bottom: 20px;
}

.card-wrapper-content {
  box-shadow: 0 0 2px #919eab33, 0 12px 24px -4px #919eab1f;
  border-radius: 1.15rem !important;
  height: 100%;
}

.dashboard-card {
  border-radius: 1.15rem !important;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    flex-wrap: nowrap;
  }
  
  .card-value {
    font-size: 24px;
    color: #1c252e;
    font-weight: 600;
    display: block;
    height: 100%;
  }
  
  .card-title {
    color: #637381;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
  }
  
  .card-background {
    top: 0;
    width: 140px;
    height: 140px;
    right: -50px;
    opacity: 0.12;
    border-radius: 1.5rem;
    position: absolute;
    transform: rotate(60deg);
  }
}

#chart, .chart-loading {
  transition: all 0.3s ease;
  min-height: 350px;
}