<nz-breadcrumb>
  <div nz-flex 
        nzalign="center" 
        class="ant-flex breadcrumb-wrapper ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" 
        style="gap: 0px; flex: unset;">
    <div nz-flex 
          nzalign="center" 
          class="ant-flex ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" 
          style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
      <span>Parking</span>
      <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
    </div>
    <nz-breadcrumb-item class="">
      <span class="ant-breadcrumb-link ">
        <a href="/dashboard">Hi, Welcome back 👋</a>
      </span>
    </nz-breadcrumb-item>
  </div>
</nz-breadcrumb>

<nz-row class="ant-row" style="margin: -6px;">
  <nz-col *ngFor="let item of dashboardItems" 
          nzxl="6" 
          nzlg="6" 
          nzmd="12" 
          nzsm="24" 
          nzxs="24" 
          style="padding: 6px; display: block; flex: 0 0 25%; max-width: 25%;">
    <nz-card class="dashboard-card">
      <div class="card-content">
        <div class="card-header">
          <span class="card-value">{{ item.value }}</span>
          <img [src]="item.icon" 
                width="38px" 
                [alt]="item.title">
        </div>
        <p class="card-title">{{ item.title }}</p>
        <div class="card-background" 
              [style.background]="item.gradient"></div>
      </div>
    </nz-card>
  </nz-col>
</nz-row>

<nz-row class="ant-row" style="margin: 0px -12px 0px -12px;">
  <nz-col nzxl="24" 
          nzlg="24" 
          nzmd="24" 
          nzsm="24" 
          nzxs="24" 
          class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-24 ant-col-lg-24 ant-col-xl-24" 
          style="padding: 12px;">
    <nz-card class="ant-card card-wrapper-content ant-card-bordered">
      <div class="ant-card-head">
        <div class="ant-card-head-wrapper">
          <div class="ant-card-head-title">
            Lượt xe vào ra theo giờ: Vào ({{ totalEntry }}), Ra ({{ totalExit }})
          </div>
          <div class="ant-card-extra">
            <nz-date-picker nzFormat="dd/MM/yyyy" 
                            [(ngModel)]="today" 
                            (ngModelChange)="onDateChange()"
                            style="border-radius: 8px;">
            </nz-date-picker>
          </div>
        </div>
      </div>
      
      <div class="ant-card-body">
        <div id="chart"> 
            <!-- *ngIf="!chartLoading" -->
          <apx-chart [series]="chartOptions.series!"
                    [chart]="chartOptions.chart!"
                    [xaxis]="chartOptions.xaxis!"
                    [yaxis]="chartOptions.yaxis!"
                    [dataLabels]="chartOptions.dataLabels!"
                    [grid]="chartOptions.grid!"
                    [stroke]="chartOptions.stroke!"
                    [tooltip]="chartOptions.tooltip!"
                    [colors]="chartOptions.colors!"
                    [legend]="chartOptions.legend!">
          </apx-chart>
        </div>
        
        <div *ngIf="chartLoading" 
              class="chart-loading" 
              style="display: flex; justify-content: center; align-items: center;">
          <nz-spin></nz-spin>
        </div>
      </div>
    </nz-card>
  </nz-col>
</nz-row>

  