<nz-breadcrumb>
  <div nz-flex nzalign="center" class="ant-flex breadcrumb-wrapper ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="gap: 0px; flex: unset;">
    <div nz-flex nzalign="center" class="ant-flex ant-flex-justify-normal ant-flex-align-center ant-flex-wrap-nowrap" style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
      <span>Thiết bị</span>
      <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
    </div>
    <nz-breadcrumb-item class="">
      <span class="ant-breadcrumb-link ">
        <a href="/#/lanes">Làn</a>
      </span>
    </nz-breadcrumb-item>
  </div>
</nz-breadcrumb>
<div class="inner-content">
    <nz-card class="ant-card card-wrapper-content ant-card-bordered">
        <div class="ant-card-body" style="padding: 24px 0px;"> 
            <nz-row class="ant-row filter-row " style="margin: -12px -6px;">
                <nz-col nzxl="8" nzlg="8" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-8 ant-col-xl-8" style="padding: 12px 6px;">
                    <fieldset>
                        <label for="keyword" class="input-label" style="color: #0c68e9;">Từ khóa</label>
                        <nz-input-group nzsearch class="ant-input-search ant-input-group-wrapper">
                            <span class="ant-input-wrapper ant-input-group">
                                <input type="text" nz-input id="keyword" class="ant-input" 
                                      placeholder="Từ khóa..." 
                                      [(ngModel)]="searchKeyword"
                                      (keyup.enter)="onSearch()">
                                <span nz-input-group-slot type="addon" class="ant-input-group-addon">
                                    <button nz-button nzType="primary" (click)="onSearch()" class="ant-btn ant-btn-primary ant-btn-icon-only">
                                        <span nz-icon nzType="search" class="anticon"></span>
                                    </button>
                                </span>
                            </span>
                        </nz-input-group>
                    </fieldset>
                </nz-col>
                <nz-col nzxl="16" nzlg="16" nzmd="12" nzsm="24" nzxs="24" class="ant-col ant-col-xs-24 ant-col-sm-24 ant-col-md-12 ant-col-lg-16 ant-col-xl-16" style="padding: 12px 6px;">
                    <table-action>
                        <div nz-row class="ant-row">  
                            <div nz-col nzxl="24" nzlg="24" nzmd="0" nzsm="0" nzxs="0" class="ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-0 ant-col-lg-24 ant-col-xl-24">
                                <div nz-flex nzgap="6px" class="ant-flex wrapper-table-action ant-flex-justify-end ant-flex-align-center ant-flex-wrap-nowrap " style="width: 100%; height: 100%; gap: 6px; flex: unset;">
                                    <button (click)="loadLanes()" nz-button nztype="text" class="ant-btn load-btn ant-btn-text">
                                        <span nz-icon class="anticon">
                                            <fa-icon class="ng-fa-icon">
                                                <img src="../../../assets/images/logo/rotate-solid.svg" style="height: 14px; width: 14px;" alt="">                                
                                            </fa-icon>
                                        </span>
                                        <span class="">Tải lại</span>
                                    </button> 
                                    <nz-divider class="ant-divider ant-divider-vertical "></nz-divider>
                                    <button *ngIf="loginService.hasPermission('POST:/api/lane')" (click)="showAddLaneModal()" nz-button nztype="primary" class="ant-btn add-btn ant-btn-primary" style="display: flex; align-items: center;"> 
                                        <span nz-icon nzType="plus" nzTheme="outline" class="anticon"></span>
                                        <span>Thêm mới</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </table-action>
                </nz-col>
            </nz-row>
            <nz-table
              #ledTable
              [nzData]="lanes"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzShowTotal]="paginationTemplate"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzLoading]="loading"
            >
              <thead>
                <tr>
                  <th style="width: 60px; min-width: 60px; text-align: center;">#</th>
                  <th>Tên</th>
                  <th>Mã</th>
                  <th>Loại</th>
                  <th>Máy tính</th>
                  <th>Tự động mở barrier</th>
                  <th style="text-align: center;">Loop</th>
                  <th style="width: 60px; min-width: 60px; text-align: center;">TT</th>
                  <th style="width: 130px; min-width: 130px; text-align: center;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lane of lanes; let i = index">
                  <td style="text-align: center;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                  <td>{{ lane.name }}</td>
                  <td>{{ lane.code }}</td>
                  <td>  
                    <nz-tag style="border-color: #f6ffed; border-radius: 8px; font-size: 12px;"
                      *ngIf="getLaneTypeOption(lane.type) as opt"
                      [nzColor]="opt.color"
                    >
                      {{ opt.label }}
                    </nz-tag>
                  </td>
                  <td>{{ getComputerNameById(lane.computerId) }}</td>
                  <td>
                    <nz-badge
                      *ngIf="getAutoOpenBarrierOption(lane.autoOpenBarrier) as opt"
                      [nzStatus]="opt.status"
                      [nzText]="opt.shortLabel"
                    ></nz-badge>
                  </td>
                  <td style="text-align: center;">
                    <nz-tag [nzColor]="lane.loop ? '#52c41a' : '#637381'" style="display: inline-flex; align-items: center; gap: 4px; border-radius: 8px; font-size: 12px;">
                      <nz-icon
                        [nzType]="lane.loop ? 'check-circle' : 'close-circle'"
                      ></nz-icon>
                      {{ lane.loop ? 'Đang sử dụng' : 'Không sử dụng' }}
                    </nz-tag>
                  </td>                        
                  <td style="text-align: center;">
                    <i *ngIf="lane.status; else falseIcon" nz-icon nzType="check-circle" class="icon-green" style="font-size: 18px;"></i>
                    <ng-template #falseIcon>
                      <i nz-icon nzType="close-circle" class="icon-red" style="font-size: 18px;"></i>
                    </ng-template>
                  </td>
                  <td style="text-align: center;">
                    <button *ngIf="loginService.hasPermission('PUT:/api/lane/{id}')" nz-button class="ant-btn edit-btn ant-btn-icon-only" (click)="updateLane(lane.id)">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('DELETE:/api/lane/{id}')" nz-button class="ant-btn delete-btn ant-btn-icon-only" (click)="deleteLane(lane.id)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('PATCH:/api/lane/{id}/status')" nz-button class="ant-btn ant-btn-icon-only" [ngClass]="lane.status ? 'enabled-btn' : 'disabled-btn'" (click)="toggleLaneStatus(lane.id)">
                      <span nz-icon [nzType]="lane.status ? 'lock' : 'unlock'" nzTheme="outline"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #paginationTemplate>
                Tổng số {{ total }} dữ liệu
              </ng-template>
            </nz-table>
        </div>
    </nz-card>
</div>


<nz-modal 
[nzContent]="addLaneTpl" 
[(nzVisible)]="isAddModalVisible" 
nzTitle="Thêm mới Làn" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleCancel()" 
(nzOnOk)="handleOk()"
nzWidth="60vw"
></nz-modal>

<ng-template #addLaneTpl>
  <form [formGroup]="laneForm" nz-form nzLayout="vertical">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneName">Tên</nz-form-label>
          <nz-form-control>
            <input id="laneName" nz-input formControlName="name" style="border-radius: 8px;"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneCode">Mã</nz-form-label>
          <nz-form-control>
            <input id="laneCode" nz-input formControlName="code" style="border-radius: 8px"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneComputerId">Máy tính</nz-form-label>
          <nz-form-control>
            <nz-select id="laneComputerId" formControlName="computerId" nzPlaceHolder="Máy tính">
              <nz-option *ngFor="let computer of computers" [nzValue]="computer.id" [nzLabel]="computer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneType">Loại</nz-form-label>
          <nz-form-control>
            <nz-select id="laneType" formControlName="type">
              <nz-option *ngFor="let type of laneTypes" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="reverseLane">Làn đảo</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="reverseLane" [nzAllowClear]="true">
              <nz-option *ngFor="let lane of lanes" [nzValue]="lane.id" [nzLabel]="lane.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="autoOpenBarrier">Tự động mở barrier</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="autoOpenBarrier">
              <nz-option *ngFor="let type of laneAutoOpenBarrierOptions" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <span style="margin-right: 8px;">Sử dụng loop</span>
        <label nz-checkbox formControlName="loop"></label>
      </nz-form-control>
    </nz-form-item>

    <div class="ant-row" style="margin-bottom: 10px;">
      <div nz-col [nzSpan]="24" style="margin-bottom: -10px;">
        <label>
          <p nz-typography nzEllipsis>Camera</p>
        </label>
      </div>
      <div nz-row class="ant-row child-form-header" style="width: 100%; margin-bottom: 10px;">
        <div nz-col [nzSpan]="7">Tên</div>
        <div nz-col [nzSpan]="7">Mục đích</div>
        <div nz-col [nzSpan]="7">Vị trí hiển thị</div>
        <div nz-col [nzSpan]="2"></div>
        <div nz-col [nzSpan]="1" class="text-right" style="background-color: unset;">
          <button nz-button nzType="primary" nzShape="circle" (click)="addLaneCamera()" [disabled]="filteredCameras.length === 0">
            <span nz-icon nzType="plus"></span>
          </button> 
        </div>
      </div>
    </div>

    <div formArrayName="laneCameras">
      <div [nzGutter]="12" *ngFor="let cameraGroup of laneCameras.controls; let i = index" [formGroupName]="i" nz-row style="margin-bottom: 10px;">
        <div nz-col [nzSpan]="7">
          <nz-select formControlName="cameraId" style="width: 100%" >
            <nz-option *ngFor="let camera of filteredCameras" [nzValue]="camera.id" [nzLabel]="camera.name"></nz-option>
          </nz-select>
        </div>
    
        <div nz-col [nzSpan]="7">
          <nz-select formControlName="purpose" style="width: 100%">
            <nz-option *ngFor="let purpose of laneCameraPurposes" [nzValue]="purpose.value" [nzLabel]="purpose.label" style="border-radius: 8px;"></nz-option>
          </nz-select>
        </div>
    
        <div nz-col [nzSpan]="7">
          <nz-select formControlName="displayPosition" style="width: 100%">
            <nz-option *ngFor="let pos of displayPositions" [nzValue]="pos" [nzLabel]="pos" style="border-radius: 8px;"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzSpan]="2"></div>
    
        <div nz-col [nzSpan]="1"  class="text-right" style="background-color: unset;">
          <button nz-button nzType="primary" nzShape="circle" nzDanger (click)="removeLaneCamera(i)">
            <span nz-icon nzType="minus"></span>
          </button> 
        </div>
      </div>
    </div>
    
    <div class="ant-row">
      <div nz-col [nzSpan]="24">
        <label style="font-weight: 500; margin-bottom: -10px;">
          <p nz-typography nzEllipsis>Bộ điều khiển</p>
        </label>
      </div>
      <div nz-row class="ant-row child-form-header" style="width: 100%; margin-bottom: 20px;">
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Tên</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Reader</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Input</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Barrier</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Cảnh báo</div>
      </div>
    </div>

    <div formArrayName="laneControlUnits">
      <div *ngFor="let controlUnitGroup of laneControlUnits.controls; let i = index" [formGroupName]="i" style="margin-bottom: 10px;">
        <div nz-row [nzGutter]="16" style="align-items: center; margin-bottom: 10px;" >
          <div nz-col nzFlex="1">
            <input nz-input [value]="controlUnitGroup.get('name')?.value" readonly style="width: 100%; border-radius: 8px;">
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="reader" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="input" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="barrier" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="alarm" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<nz-modal 
[nzContent]="editLaneTpl" 
[(nzVisible)]="isEditModalVisible" 
nzTitle="Cập nhật Làn" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleEditCancel()" 
(nzOnOk)="handleEditOk()"
nzWidth="60vw"
></nz-modal>

<ng-template #editLaneTpl>
  <form [formGroup]="editLaneForm" nz-form nzLayout="vertical"> 
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneName">Tên</nz-form-label>
          <nz-form-control>
            <input id="laneName" nz-input formControlName="name" style="border-radius: 8px;"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneCode">Mã</nz-form-label>
          <nz-form-control>
            <input id="laneCode" nz-input formControlName="code" style="border-radius: 8px"/>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneComputerId">Máy tính</nz-form-label>
          <nz-form-control>
            <nz-select id="laneComputerId" formControlName="computerId" nzPlaceHolder="Máy tính">
              <nz-option *ngFor="let computer of computers" [nzValue]="computer.id" [nzLabel]="computer.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="laneType">Loại</nz-form-label>
          <nz-form-control>
            <nz-select id="laneType" formControlName="type">
              <nz-option *ngFor="let type of laneTypes" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzFor="reverseLane">Làn đảo</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="reverseLane" [nzAllowClear]="true">
              <nz-option *ngFor="let lane of lanes" [nzValue]="lane.id" [nzLabel]="lane.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" nzFor="autoOpenBarrier">Tự động mở barrier</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="autoOpenBarrier">
              <nz-option *ngFor="let type of laneAutoOpenBarrierOptions" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <span style="margin-right: 8px;">Sử dụng loop</span>
        <label nz-checkbox formControlName="loop"></label>
      </nz-form-control>
    </nz-form-item>

    <div class="ant-row" style="margin-bottom: 10px;">
      <div nz-col [nzSpan]="24" style="margin-bottom: -10px;">
        <label>
          <p nz-typography nzEllipsis>Camera</p>
        </label>
      </div>
      <div nz-row class="ant-row child-form-header" style="width: 100%; margin-bottom: 10px;">
        <div nz-col [nzSpan]="7">Tên</div>
        <div nz-col [nzSpan]="7">Mục đích</div>
        <div nz-col [nzSpan]="7">Vị trí hiển thị</div>
        <div nz-col [nzSpan]="2"></div>
        <div nz-col [nzSpan]="1" class="text-right" style="background-color: unset;">
          <button nz-button nzType="primary" nzShape="circle" (click)="addEditLaneCamera()" [disabled]="filteredCameras.length === 0">
            <span nz-icon nzType="plus"></span>
          </button> 
        </div>
      </div>
    </div>

    <div formArrayName="laneCameras">
      <div [nzGutter]="12" *ngFor="let cameraGroup of editLaneCameras.controls; let i = index" [formGroupName]="i" nz-row style="margin-bottom: 10px;">
        <div nz-col [nzSpan]="7">
          <nz-select formControlName="cameraId" style="width: 100%" >
            <nz-option *ngFor="let camera of filteredCameras" [nzValue]="camera.id" [nzLabel]="camera.name"></nz-option>
          </nz-select>
        </div>
    
        <div nz-col [nzSpan]="7">
          <nz-select formControlName="purpose" style="width: 100%">
            <nz-option *ngFor="let purpose of laneCameraPurposes" [nzValue]="purpose.value" [nzLabel]="purpose.label" style="border-radius: 8px;"></nz-option>
          </nz-select>
        </div>
    
        <div nz-col [nzSpan]="7">
          <nz-select formControlName="displayPosition" style="width: 100%">
            <nz-option *ngFor="let pos of displayPositions" [nzValue]="pos" [nzLabel]="pos" style="border-radius: 8px;"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzSpan]="2"></div>
    
        <div nz-col [nzSpan]="1"  class="text-right" style="background-color: unset;">
          <button nz-button nzType="primary" nzShape="circle" nzDanger (click)="removeEditLaneCamera(i)">
            <span nz-icon nzType="minus"></span>
          </button> 
        </div>
      </div>
    </div>
    
    <div class="ant-row">
      <div nz-col [nzSpan]="24">
        <label style="font-weight: 500; margin-bottom: -10px;">
          <p nz-typography nzEllipsis>Bộ điều khiển</p>
        </label>
      </div>
      <div nz-row class="ant-row child-form-header" style="width: 100%; margin-bottom: 20px;">
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Tên</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Reader</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Input</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Barrier</div>
        <div nz-col nzflex="1" class="ant-col" style="flex: 1 1 0%;">Cảnh báo</div>
      </div>
    </div>

    <div formArrayName="laneControlUnits">
      <div *ngFor="let controlUnitGroup of editLaneControlUnits.controls; let i = index" [formGroupName]="i" style="margin-bottom: 10px;">
        <div nz-row [nzGutter]="16" style="align-items: center; margin-bottom: 10px;" >
          
          <div nz-col nzFlex="1">
            <input nz-input [value]="controlUnitGroup.get('name')?.value" readonly style="width: 100%; border-radius: 8px;">
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="reader" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="input" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="barrier" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
    
          <div nz-col nzFlex="1">
            <nz-select formControlName="alarm" style="width: 100%" nzMode="multiple">
              <nz-option *ngFor="let num of [0,1,2,3,4,5]" [nzValue]="num" [nzLabel]="num.toString()"></nz-option>
            </nz-select>
          </div>
          
        </div>
      </div>
    </div>
  </form>
</ng-template> 
