<nz-layout class="layout">
    <nz-sider nzwidth="236px" class="menu-sidebar show-for-large" style="flex: 0 0 236px; max-width: 236px; min-width: 236px; width: 236px;">
      <div class="logo">
        <img src="../../../assets/images/logo/logo.png" alt="Logo">
      </div>
      <div class="custom-dark-menu">
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-submenu nzTitle="Quản lý bãi xe">
            <ul>
              <li nz-menu-item [routerLink]="'/dashboard'">
                <span nz-icon nzType="dashboard" nzTheme="fill"></span>
                <span>Trang chủ</span>
              </li>
              <li nz-submenu nzTitle="Báo cáo" nzIcon="line-chart">
                <ul>
                  <li nz-menu-item [routerLink]="'/entry-logs'">Xe vào bãi</li>
                  <li nz-menu-item [routerLink]="'/exit-logs'">Xe đã ra</li>
                  <li nz-menu-item [routerLink]="'/warning-events'">Sự kiện cảnh báo</li>
                  <li nz-menu-item [routerLink]="'/revenue-reports'">Báo cáo doanh thu</li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Quản lý khách hàng">
            <ul>
              <li nz-menu-item [routerLink]="'/customer-groups'">
                <span nz-icon nzType="github" nzTheme="fill"></span>
                <span>Nhóm khách hàng</span> 
              </li>
              <li nz-menu-item [routerLink]="'/customers'">
                <span nz-icon nzType="gitlab" nzTheme="fill"></span>
                <span>Khách hàng</span>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Quản lý thẻ">
            <ul>
              <li nz-menu-item [routerLink]="'/card-groups'">
                <span nz-icon nzType="apple" nzTheme="fill"></span>
                <span>Nhóm thẻ</span>
              </li>
              <li nz-menu-item [routerLink]="'/cards'">
                <span nz-icon nzType="android" nzTheme="fill"></span>
                <span>Thẻ</span>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Quản lý thiết bị">
            <ul>
              <li nz-menu-item [routerLink]="'/gates'">
                <span nz-icon nzType="bank" nzTheme="fill"></span>
                <span>Cổng</span>
              </li>
              <li nz-menu-item [routerLink]="'/computers'">
                <span nz-icon nzType="laptop" nzTheme="outline"></span>
                <span>Máy tính</span>
              </li>
              <li nz-menu-item [routerLink]="'/cameras'">
                <span nz-icon nzType="camera" nzTheme="fill"></span>
                <span>Camera</span>
              </li>
              <li nz-menu-item [routerLink]="'/control_units'">
                <span nz-icon nzType="control" nzTheme="fill"></span>
                <span>Bộ điều khiển</span>
              </li>
              <li nz-menu-item [routerLink]="'/lanes'">
                <span nz-icon nzType="sliders" nzTheme="fill"></span>
                <span>Làn</span>
              </li>
              <li nz-menu-item [routerLink]="'/leds'">
                <span nz-icon nzType="bulb" nzTheme="fill"></span>
                <span>Led</span>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Quản lý tài khoản">
            <ul>
              <li nz-menu-item>
                <span nz-icon nzType="safety-certificate" nzTheme="fill"></span>
                <span>Vai trò, quyền hạn</span>
              </li>
              <li nz-menu-item>
                <span nz-icon nzType="user" nzTheme="outline"></span>
                <span>Người dùng</span>
              </li>
            </ul>
          </li>
        </ul>
    </div>
    </nz-sider>
    <nz-layout class="ant-layout right-layout">
      <nz-header class="ant-layout-header">
          <div>
            <button nz-button nzType="primary" class="ant-btn1">
              <span nz-icon nzType="search" style="color: #637381;">
              </span>
              <span style="color:#637381 ;">Tìm kiếm thư mục</span>
            </button>
          </div>
          <div>
            <span style="margin-right: 15px;" nz-dropdown nzplacement="bottomRight">Admin</span>
          </div>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <div nz-flex nzalign="center" class="ant-flex  ant-flex-align-center ant-flex-wrap-nowrap" style="gap: 0px; flex: unset;">
            <div nz-flex nzalign="center" class="ant-flex ant-flex-align-center ant-flex-wrap-nowrap" style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
              <span>Quản lý khách hàng</span>
              <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
            </div>
            <nz-breadcrumb-item>
              <span class="ant-breadcrumb-link">
                <a href="/#/customers">Khách hàng</a>
              </span>
            </nz-breadcrumb-item>
          </div>
        </nz-breadcrumb>
        <div class="inner-content">
            <nz-card class="ant-card card-wrapper-content" style="margin-bottom: 12px">
                <div class="ant-card-body" style="padding: 24px 0px;"> 
                    <nz-row class="ant-row filter-row" style="margin: -12px -6px;">
                        <nz-col class="ant-col ant-col-xl-8" style="padding: 12px 6px;">
                            <fieldset>
                              <label for="keyword" class="input-label" style="color: #0c68e9;">Từ khóa</label>
                              <nz-input-group nzsearch class="ant-input-search ant-input-group-wrapper">
                                  <span class="ant-input-wrapper ant-input-group">
                                      <input type="text" nz-input id="keyword" class="ant-input" 
                                            placeholder="Từ khóa..." 
                                            [(ngModel)]="searchKeyword"
                                            (keyup.enter)="onSearch()">
                                      <span nz-input-group-slot type="addon" class="ant-input-group-addon">
                                          <button nz-button nzType="primary" (click)="onSearch()" class="ant-btn ant-btn-primary ant-btn-icon-only">
                                              <span nz-icon nzType="search" class="anticon"></span>
                                          </button>
                                      </span>
                                  </span>
                              </nz-input-group>
                          </fieldset>
                        </nz-col>
                        <nz-col class="ant-col ant-col-lg-16 ant-col-xl-16" style="padding: 12px 6px;">
                            <table-action>
                                <div nz-row class="ant-row">  
                                    <div nz-col nzxl="24" nzlg="24" nzmd="0" nzsm="0" nzxs="0" class="ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-0 ant-col-lg-24 ant-col-xl-24">
                                        <div nz-flex nzgap="6px" class="ant-flex wrapper-table-action ant-flex-justify-end ant-flex-align-center ant-flex-wrap-nowrap " style="width: 100%; height: 100%; gap: 6px; flex: unset;">
                                            <button (click)="loadCustomers()" nz-button nztype="text" class="ant-btn load-btn ant-btn-text">
                                                <span nz-icon class="anticon">
                                                    <fa-icon class="ng-fa-icon">
                                                        <img src="../../../assets/images/logo/rotate-solid.svg" style="height: 14px; width: 14px;" alt="">                                
                                                    </fa-icon>
                                                </span>
                                                <span class="">Tải lại</span>
                                            </button> 
                                            <nz-divider class="ant-divider ant-divider-vertical "></nz-divider>
                                            <button (click)="showAddCustomerModal()" nz-button nztype="primary" class="ant-btn add-btn ant-btn-primary" style="display: flex; align-items: center;"> 
                                              <span nz-icon nzType="plus" nzTheme="outline" class="anticon"></span>
                                              <span>Thêm mới</span>
                                          </button>
                                        </div>
                                    </div>
                                </div>
                            </table-action>
                        </nz-col>
                    </nz-row>
                    <nz-table
                      #customerTable
                      [nzData]="customers"
                      [nzTotal]="total"
                      [nzPageSize]="pageSize"
                      [nzPageIndex]="pageIndex"
                      [nzFrontPagination]="false"
                      [nzShowSizeChanger]="true"
                      [nzPageSizeOptions]="[10, 20, 30, 40]"
                      [nzShowTotal]="paginationTemplate"
                      (nzQueryParams)="onQueryParamsChange($event)"
                      [nzLoading]="loading">
                      <thead>
                        <tr>
                          <th style="width: 60px; min-width: 60px; text-align: center;">#</th>
                          <th>Tên</th>
                          <th>Mã</th>
                          <th>Số điện thoại</th>
                          <th>Địa chỉ</th>
                          <th>Nhóm khách hàng</th>
                          <th style="width: 130px; min-width: 130px; text-align: center;"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let customer of customers; let i = index">
                          <td style="text-align: center;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                          <td>{{ customer.name }}</td>
                          <td>{{ customer.code }}</td> 
                          <td>{{ customer.phone }}</td> 
                          <td>{{ customer.address }}</td>   
                          <td>{{ getCustomerGroupById(customer.customerGroupId) }}</td> 
                          <td style="text-align: center;">
                            <button nz-button class="ant-btn edit-btn ant-btn-icon-only " (click)="updateCustomer(customer.id)">
                              <span nz-icon nzType="edit" nzTheme="outline"></span>
                            </button>
                            <button nz-button class="ant-btn delete-btn ant-btn-icon-only " (click)="deleteCustomer(customer.id)">
                              <span nz-icon nzType="delete" nzTheme="outline"></span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <ng-template #paginationTemplate>
                        Tổng số {{ total }} dữ liệu
                      </ng-template>
                    </nz-table>
                </div>
            </nz-card>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  

<nz-modal 
  [nzContent]="addCustomerTpl" 
  [(nzVisible)]="isAddModalVisible" 
  nzTitle="Thêm mới Khách hàng" 
  nzOkText="Lưu" 
  nzCancelText="Hủy bỏ" 
  (nzOnCancel)="handleCancel()" 
  (nzOnOk)="handleOk()">
</nz-modal>

<ng-template #addCustomerTpl>
  <form [formGroup]="customerForm"> 
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <div class="form-group">
          <label for="customerName" class="required-label" style="margin-bottom: 10px;">Tên</label>
          <input id="customerName" nz-input formControlName="name" style="border-radius: 8px;"/>
        </div>
      </div>
      <div nz-col [nzSpan]="12">
        <div class="form-group">
          <label for="customerCode" class="required-label" style="margin-bottom: 10px;">Mã</label>
          <input id="customerCode" nz-input formControlName="code" style="border-radius: 8px;"/>
        </div>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <div class="form-group">
          <label for="customerPhone" style="margin-bottom: 10px;">Số điện thoại</label>
          <input id="customerPhone" nz-input formControlName="phone" style="border-radius: 8px;"/>
        </div>
      </div>
      <div nz-col [nzSpan]="12">
        <div class="form-group">
          <label for="customerAddress" style="margin-bottom: 10px;">Địa chỉ</label>
          <input id="customerAddress" nz-input formControlName="address" style="border-radius: 8px;"/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="customerCustomerGroupId" style="margin-bottom: 10px;">Nhóm khách hàng</label>
      <nz-select formControlName="customerGroupId" style="width: 100%; border-radius: 8px;">
        <nz-option *ngFor="let customerGroup of customerGroups" [nzValue]="customerGroup.id" [nzLabel]="customerGroup.name"></nz-option>
      </nz-select>      
    </div>
  </form>
</ng-template>


  
  
<nz-modal 
[nzContent]="editCustomerTpl" 
[(nzVisible)]="isEditModalVisible" 
nzTitle="Cập nhật Khách hàng" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleEditCancel()" 
(nzOnOk)="handleEditOk()"
[nzWidth]="1000">
</nz-modal>
  <ng-template #editCustomerTpl>
    <form [formGroup]="editCustomerForm"> 
      <div nz-row class="modal-row">
        <div nz-col [nzSpan]="10">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="12">
              <div class="form-group">
                <label for="customerName" class="required-label">Tên</label>
                <input id="customerName" nz-input formControlName="name" style="border-radius: 8px;" />
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <div class="form-group">
                <label for="customerCode" class="required-label">Mã</label>
                <input id="customerCode" nz-input formControlName="code" style="border-radius: 8px;" />
              </div>
            </div>
          </div>
  
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="12">
              <div class="form-group">
                <label for="customerPhone">Số điện thoại</label>
                <input id="customerPhone" nz-input formControlName="phone" style="border-radius: 8px;" />
              </div>
            </div>
            <div nz-col [nzSpan]="12">
              <div class="form-group">
                <label for="customerAddress">Địa chỉ</label>
                <nz-textarea-count [nzMaxCharacterCount]="100">
                  <textarea id="customerAddress" formControlName="address" nz-input [nzAutosize]="{ minRows: 1, maxRows: 5 }" style="border-radius: 8px;"></textarea>
                </nz-textarea-count>          
              </div>
            </div>
          </div>
  
          <div class="form-group">
            <label for="customerCustomerGroupId">Nhóm khách hàng</label>
            <nz-select formControlName="customerGroupId" style="width: 100%; border-radius: 8px;">
              <nz-option *ngFor="let customerGroup of customerGroups" [nzValue]="customerGroup.id" [nzLabel]="customerGroup.name"></nz-option>
            </nz-select>      
          </div>
        </div>
  
        <div nz-col [nzSpan]="13" class="card-list-container">
          <div class="card-list-header" style="border-bottom: 1px solid #e8e8e8; padding-bottom: 8px;">
            <span class="title">Danh sách Thẻ của khách hàng</span>
            <button nz-button nzType="primary" style="border-radius: 8px; display: flex; align-items: center;" (click)="showAddCardModal()">
              <span nz-icon nzType="plus"></span>
              <span>Thêm mới</span>
            </button>
          </div>
          <nz-list
            [nzDataSource]="customerCards"
            [nzRenderItem]="item"
            nzItemLayout="horizontal"
          >
            <ng-template #item let-card>
              <nz-list-item>
                <nz-row style="width: 100%" align="middle">
                  <!-- Cột 1: Thông tin thẻ -->
                  <nz-col [nzSpan]="18">
                    <nz-list-item-meta
                      [nzTitle]="titleTemplate"
                      [nzDescription]="descriptionTemplate">
                    </nz-list-item-meta>
                    
                    <ng-template #titleTemplate>
                      <div style="display: flex; gap: 20px; align-items: center;">
                        <span>{{ card.name }}</span>
                        <nz-tag [nzColor]="getStatusColor(card.status)" style="border-radius: 8px; font-size: 12px;">
                          {{ getCardStatusLabel(card.status) }}
                        </nz-tag>
                      </div>
                    </ng-template>
                    
                    <ng-template #descriptionTemplate>
                      <div style="text-align: left;">
                        <div>
                          <strong>Mã:</strong> {{ card.code }} |
                          <strong>Nhóm thẻ:</strong> {{ getCardGroupNameById(card.cardGroupId) }}
                        </div>
                        <div *ngIf="card.note">
                          <strong>Ghi chú:</strong> {{ card.note }}
                        </div>
                      </div>
                    </ng-template>
                  </nz-col>

                  <!-- Cột 2: Nút hành động (Sửa, Xóa) -->
                  <nz-col [nzSpan]="6">
                    <div style="display: flex; justify-content: flex-end; align-items: center; height: 100%;">
                      <button
                        nz-button
                        nzType="primary"
                        nzDanger
                        nzSize="small"
                        style="border-radius: 8px; padding: 0 8px; font-size: 12px; text-align: right;"
                        (click)="removeCardFromCustomer(card.id)"
                      >
                        <span style="display: flex; align-items: center;">
                          <span nz-icon nzType="delete" nzTheme="outline"></span>
                        </span>
                      </button>

                    </div>                    
                  </nz-col>
                </nz-row>
              </nz-list-item>
            </ng-template>
          </nz-list>

        </div>
      </div>  
    </form>
  </ng-template>

  <nz-modal
    [(nzVisible)]="isAddCardModalVisible"
    nzTitle="Thêm thẻ cho khách hàng"
    nzOkText="Lưu"
    nzCancelText="Hủy bỏ"
    (nzOnCancel)="handleAddCardCancel()"
    (nzOnOk)="handleAddCardOk()">
    <form *nzModalContent [formGroup]="cardForm">
      <div class="form-group">
        <label for="cardId" class="required-label">Chọn Thẻ</label>
        <nz-select formControlName="cardId" style="width: 100%; border-radius: 8px;">
          <nz-option *ngFor="let card of availableCards" 
                    [nzValue]="card.id" 
                    [nzLabel]="card.name + (card.name ? ' - ' + card.code  : '')"></nz-option>
        </nz-select>
      </div>
    </form>
  </nz-modal>