<nz-breadcrumb>
  <div nz-flex nzalign="center" class="ant-flex  ant-flex-align-center ant-flex-wrap-nowrap" style="gap: 0px; flex: unset;">
    <div nz-flex nzalign="center" class="ant-flex ant-flex-align-center ant-flex-wrap-nowrap" style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
      <span>Quản lý thẻ</span>
      <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
    </div>
    <nz-breadcrumb-item>
      <span class="ant-breadcrumb-link">
        <a href="/#/card-groups">Nhóm thẻ</a>
      </span>
    </nz-breadcrumb-item>
  </div>
</nz-breadcrumb>
<div class="inner-content">
    <nz-card class="ant-card card-wrapper-content" style="margin-bottom: 12px">
        <div class="ant-card-body" style="padding: 24px 0px;"> 
            <nz-row class="ant-row filter-row" style="margin: -12px -6px;">
                <nz-col class="ant-col ant-col-xl-8" style="padding: 12px 6px;">
                    <fieldset>
                      <label for="keyword" class="input-label" style="color: #0c68e9;">Từ khóa</label>
                      <nz-input-group nzsearch class="ant-input-search ant-input-group-wrapper">
                          <span class="ant-input-wrapper ant-input-group">
                              <input type="text" nz-input id="keyword" class="ant-input" 
                                    placeholder="Từ khóa..." 
                                    [(ngModel)]="searchKeyword"
                                    (keyup.enter)="onSearch()">
                              <span nz-input-group-slot type="addon" class="ant-input-group-addon">
                                  <button nz-button nzType="primary" (click)="onSearch()" class="ant-btn ant-btn-primary ant-btn-icon-only">
                                      <span nz-icon nzType="search" class="anticon"></span>
                                  </button>
                              </span>
                          </span>
                      </nz-input-group>
                  </fieldset>
                </nz-col>
                <nz-col class="ant-col ant-col-lg-16 ant-col-xl-16" style="padding: 12px 6px;">
                    <table-action>
                        <div nz-row class="ant-row">  
                            <div nz-col nzxl="24" nzlg="24" nzmd="0" nzsm="0" nzxs="0" class="ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-0 ant-col-lg-24 ant-col-xl-24">
                                <div nz-flex nzgap="6px" class="ant-flex wrapper-table-action ant-flex-justify-end ant-flex-align-center ant-flex-wrap-nowrap" style="width: 100%; height: 100%; gap: 6px; flex: unset;">
                                    <button (click)="loadCardGroups()" nz-button nztype="text" class="ant-btn load-btn ant-btn-text">
                                        <span nz-icon class="anticon">
                                            <fa-icon class="ng-fa-icon">
                                                <img src="../../../assets/images/logo/rotate-solid.svg" style="height: 14px; width: 14px;" alt="">                                
                                            </fa-icon>
                                        </span>
                                        <span>Tải lại</span>
                                    </button> 
                                    <nz-divider class="ant-divider ant-divider-vertical"></nz-divider>
                                    <button *ngIf="loginService.hasPermission('POST:/api/cardgroup')" (click)="showAddCardGroupModal()" nz-button nztype="primary" class="ant-btn add-btn ant-btn-primary" style="display: flex; align-items: center;"> 
                                      <span nz-icon nzType="plus" nzTheme="outline" class="anticon"></span>
                                      <span>Thêm mới</span>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </table-action>
                </nz-col>
            </nz-row>
            <nz-table
              #gateTable
              [nzData]="cardGroups"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzPageSizeOptions]="[10, 20, 30, 40]"
              [nzShowTotal]="paginationTemplate"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzLoading]="loading" >
              <thead>
                <tr>
                  <th style="width: 60px; min-width: 60px; text-align: center;">#</th>
                  <th>Tên</th>
                  <th>Mã</th>
                  <th style="text-align: center;">Loại</th>
                  <th style="text-align: center;">Loại phương tiện</th>
                  <th style="width: 60px; min-width: 60px; text-align: center;">TT</th>
                  <th style="width: 130px; min-width: 130px; text-align: center;"></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let cardGroup of cardGroups; let i = index">
                  <td style="text-align: center;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                  <td>{{ cardGroup.name }}</td>
                  <td>{{ cardGroup.code }}</td> 
                  <td style="text-align: center;">
                    <nz-tag *ngIf="getCardGroupType(cardGroup.type) as opt" 
                      [nzColor]="cardGroup.type === 'Month' ? '#1d39c4' : '#d4b106'" 
                      style="border-radius: 8px; font-size: 12px ;">
                      {{ opt.label }}
                    </nz-tag>
                  </td>
                  <td style="text-align: center;">
                    <nz-tag *ngIf="getCardGroupVehicleType(cardGroup.vehicleType) as opt" [nzColor]="opt.color" style="border-radius: 8px; font-size: 12px;">
                      {{ opt.label}}
                    </nz-tag>
                  </td>
                  <td style="text-align: center;">
                    <i *ngIf="cardGroup.status; else falseIcon" nz-icon nzType="check-circle" class="icon-green" style="font-size: 18px;"></i>
                    <ng-template #falseIcon>
                      <i nz-icon nzType="close-circle" class="icon-red" style="font-size: 18px;"></i>
                    </ng-template>
                  </td>
                  <td style="text-align: center;">
                    <button *ngIf="loginService.hasPermission('PUT:/api/cardgroup/{id}')" nz-button class="ant-btn edit-btn ant-btn-icon-only" (click)="updateCardGroup(cardGroup.id)">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('DELETE:/api/cardgroup/{id}')" nz-button class="ant-btn delete-btn ant-btn-icon-only" (click)="deleteCardGroup(cardGroup.id)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('PATCH:/api/cardgroup/{id}/status')" nz-button class="ant-btn ant-btn-icon-only" [ngClass]="cardGroup.status ? 'enabled-btn' : 'disabled-btn'" (click)="toggleCardGroupStatus(cardGroup.id)">
                      <span nz-icon [nzType]="cardGroup.status ? 'lock' : 'unlock'" nzTheme="outline"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #paginationTemplate>
                  Tổng số {{ total }} dữ liệu 
              </ng-template>
            </nz-table>
        </div>
    </nz-card>
</div>
  
<nz-modal 
[nzContent]="addCardGroupTpl" 
[(nzVisible)]="isAddModalVisible" 
nzTitle="Thêm mới Nhóm thẻ" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleCancel()" 
(nzOnOk)="handleOk()"
[nzWidth]="600"
class="custom-modal"></nz-modal>

<ng-template #addCardGroupTpl>
  <form [formGroup]="cardGroupForm" nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupName'" [nzRequired]="true">Tên</nz-form-label>
          <nz-form-control>
            <input id="customerGroupName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupCode'" [nzRequired]="true">Mã</nz-form-label>
          <nz-form-control>
            <input id="customerGroupCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupType'">Loại</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="type" style="display: flex;">
              <label *ngFor="let option of cardGroupTypes" nz-radio [nzValue]="option.value">{{ option.label }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupVehicleType'">Loại phương tiện</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="vehicleType" style="display: flex;">
              <label *ngFor="let option of cardGroupVehicleTypes" nz-radio [nzValue]="option.value">{{ option.label }}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label>Làn</nz-form-label>
          <nz-form-control>
            <nz-transfer
              [nzDataSource]="transferData"
              [nzTitles]="['Làn trong hệ thống', 'Làn được cho phép']"
              (nzChange)="transferChange($event)"
              [nzListStyle]="{ 'width': '255px', 'height': '210px' }"
            ></nz-transfer>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-collapse>
            <nz-collapse-panel nzHeader="Cấu hình phí" [nzActive]="false">
              <nz-form-item>
                <nz-form-label [nzFor]="'cardGroupfreeMinutes'">Số phút được miễn phí</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    id="cardGroupfreeMinutes"
                    formControlName="freeMinutes"
                    [nzMin]="0"
                    placeholder="Nhập số phút miễn phí"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>

              <div nz-row [nzGutter]="16" style="align-items: center; margin-top: 20px;">
                <div nz-col [nzSpan]="6">
                  <label style="font-weight: 500;">Khoảng đầu tiên</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    formControlName="firstBlockMinutes"
                    [nzFormatter]="formatMinutes"
                    [nzParser]="parseMinutes"
                    nzPlaceHolder="Phút"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div nz-col [nzSpan]="2" style="text-align: right; padding-right: 10px;">
                  <label style="font-weight: 500;">Phí</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1000"
                    [nzPrecision]="2"
                    formControlName="firstBlockPrice"
                    [nzFormatter]="formatPrice"
                    [nzParser]="parsePrice"
                    nzPlaceHolder="VNĐ"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div *ngIf="!isNextBlockVisible" nz-col [nzSpan]="4" style="text-align: center;">
                  <button
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    style="box-shadow: 0 2px 5px rgba(0,0,0,0.1);"
                    (click)="showNextBlock()"
                  >
                    <i nz-icon nzType="plus"></i>
                  </button>
                </div>
              </div>

              <div *ngIf="isNextBlockVisible" nz-row [nzGutter]="16" style="align-items: center; margin-top: 15px;">
                <div nz-col [nzSpan]="6">
                  <label style="font-weight: 500;">Khoảng tiếp theo</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    formControlName="nextBlockMinutes"
                    [nzFormatter]="formatMinutes"
                    [nzParser]="parseMinutes"
                    nzPlaceHolder="Phút"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div nz-col [nzSpan]="2" style="text-align: right; padding-right: 10px;">
                  <label style="font-weight: 500;">Phí</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1000"
                    [nzPrecision]="2"
                    formControlName="nextBlockPrice"
                    [nzFormatter]="formatPrice"
                    [nzParser]="parsePrice"
                    nzPlaceHolder="VNĐ"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div nz-col [nzSpan]="4" style="text-align: center;">
                  <button
                    nz-button
                    nzType="primary"
                    nzDanger
                    nzShape="circle"
                    style="box-shadow: 0 2px 5px rgba(0,0,0,0.1);"
                    (click)="isNextBlockVisible = false"
                  >
                    <i nz-icon nzType="delete"></i>
                  </button>
                </div>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>


<nz-modal 
[nzContent]="editCardGroupTpl" 
[(nzVisible)]="isEditModalVisible" 
nzTitle="Cập nhật Nhóm thẻ" 
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleEditCancel()" 
(nzOnOk)="handleEditOk()"
[nzWidth]="600"
></nz-modal>

<ng-template #editCardGroupTpl>
  <form [formGroup]="editCardGroupForm" nz-form [nzLayout]="'vertical'">
    <!-- Tên & Mã -->
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupName'" [nzRequired]="true">Tên</nz-form-label>
          <nz-form-control>
            <input id="customerGroupName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupCode'" [nzRequired]="true">Mã</nz-form-label>
          <nz-form-control>
            <input id="customerGroupCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Loại & Loại phương tiện -->
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupType'">Loại</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="type" style="display: flex;">
              <label *ngFor="let option of cardGroupTypes" nz-radio [nzValue]="option.value">
                {{ option.label }}
              </label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'customerGroupVehicleType'">Loại phương tiện</nz-form-label>
          <nz-form-control>
            <nz-radio-group formControlName="vehicleType" style="display: flex;">
              <label *ngFor="let option of cardGroupVehicleTypes" nz-radio [nzValue]="option.value">
                {{ option.label }}
              </label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Làn -->
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label>Làn</nz-form-label>
          <nz-form-control>
            <nz-transfer
              [nzDataSource]="transferData"
              [nzTitles]="['Làn trong hệ thống', 'Làn được cho phép']"
              (nzChange)="transferChange($event)"
              [nzListStyle]="{ 'width': '255px', 'height': '210px' }"
            ></nz-transfer>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- Cấu hình phí -->
    <div nz-row [nzGutter]="16" style="margin-top: 10px;">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-collapse>
            <nz-collapse-panel nzHeader="Cấu hình phí" [nzActive]="isFeeConfigExpanded">
              <!-- Phút miễn phí -->
              <nz-form-item>
                <nz-form-label [nzFor]="'cardGroupfreeMinutes'">Số phút được miễn phí</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    id="cardGroupfreeMinutes"
                    formControlName="freeMinutes"
                    [nzMin]="0"
                    nzPlaceHolder="Nhập số phút miễn phí"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>

              <!-- Khoảng đầu tiên -->
              <div nz-row [nzGutter]="16" style="margin-top: 20px; align-items: center;">
                <div nz-col [nzSpan]="6">
                  <label style="font-weight: 500;">Khoảng đầu tiên</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    formControlName="firstBlockMinutes"
                    [nzFormatter]="formatMinutes"
                    [nzParser]="parseMinutes"
                    nzPlaceHolder="Phút"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div nz-col [nzSpan]="2" style="text-align: right; padding-right: 10px;">
                  <label style="font-weight: 500;">Phí</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1000"
                    [nzPrecision]="2"
                    formControlName="firstBlockPrice"
                    [nzFormatter]="formatPrice"
                    [nzParser]="parsePrice"
                    nzPlaceHolder="VNĐ"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div *ngIf="!isNextBlockVisible" nz-col [nzSpan]="4" style="text-align: center;">
                  <button
                    nz-button
                    nzType="primary"
                    nzShape="circle"
                    style="box-shadow: 0 2px 5px rgba(0,0,0,0.1);"
                    (click)="showNextBlock()"
                  >
                    <i nz-icon nzType="plus"></i>
                  </button>
                </div>
              </div>

              <!-- Khoảng tiếp theo -->
              <div *ngIf="isNextBlockVisible" nz-row [nzGutter]="16" style="margin-top: 15px; align-items: center;">
                <div nz-col [nzSpan]="6">
                  <label style="font-weight: 500;">Khoảng tiếp theo</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    formControlName="nextBlockMinutes"
                    [nzFormatter]="formatMinutes"
                    [nzParser]="parseMinutes"
                    nzPlaceHolder="Phút"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div nz-col [nzSpan]="2" style="text-align: right; padding-right: 10px;">
                  <label style="font-weight: 500;">Phí</label>
                </div>
                <div nz-col [nzSpan]="6">
                  <nz-input-number
                    [nzMin]="0"
                    [nzStep]="1000"
                    [nzPrecision]="2"
                    formControlName="nextBlockPrice"
                    [nzFormatter]="formatPrice"
                    [nzParser]="parsePrice"
                    nzPlaceHolder="VNĐ"
                    style="width: 100%; border-radius: 8px;"
                  ></nz-input-number>
                </div>
                <div nz-col [nzSpan]="4" style="text-align: center;">
                  <button
                    nz-button
                    nzType="primary"
                    nzDanger
                    nzShape="circle"
                    style="box-shadow: 0 2px 5px rgba(0,0,0,0.1);"
                    (click)="hideNextBlock()"
                  >
                    <i nz-icon nzType="delete"></i>
                  </button>
                </div>
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>
