/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.min.css";

::ng-deep .ant-pagination-item,
::ng-deep .ant-pagination-prev,
::ng-deep .ant-pagination-next {
  border-radius: 50% !important;
}

::ng-deep .ant-pagination-prev a,
::ng-deep .ant-pagination-next a {
  border-radius: 50% !important;
}


.fit-width-transfer .ant-transfer-list {
  width: 100%;
}