<nz-breadcrumb>
  <div nz-flex nzalign="center" class="ant-flex  ant-flex-align-center ant-flex-wrap-nowrap" style="gap: 0px; flex: unset;">
    <div nz-flex nzalign="center" class="ant-flex ant-flex-align-center ant-flex-wrap-nowrap" style="color: #041f46 !important; font-weight: 500; font-size: 16px; gap: 0px; flex: unset;">
      <span>Quản lý thẻ</span>
      <nz-divider nztype="vertical" class="ant-divider ant-divider-vertical"></nz-divider>
    </div>
    <nz-breadcrumb-item>
      <span class="ant-breadcrumb-link">
        <a href="/#/cards">Thẻ</a>
      </span>
    </nz-breadcrumb-item>
  </div>
</nz-breadcrumb>
<div class="inner-content">
    <nz-card class="ant-card card-wrapper-content" style="margin-bottom: 12px;">
        <div class="ant-card-body" style="padding: 24px 0px;"> 
            <nz-row class="ant-row filter-row" style="margin: -12px -6px;">
                <nz-col class="ant-col ant-col-xl-8" style="padding: 12px 6px;">
                    <fieldset>
                      <label for="keyword" class="input-label" style="color: #0c68e9;">Từ khóa</label>
                      <nz-input-group nzsearch class="ant-input-search ant-input-group-wrapper">
                          <span class="ant-input-wrapper ant-input-group">
                              <input type="text" nz-input id="keyword" class="ant-input" 
                                    placeholder="Từ khóa..." 
                                    [(ngModel)]="searchKeyword"
                                    (keyup.enter)="onSearch()">
                              <span nz-input-group-slot type="addon" class="ant-input-group-addon">
                                  <button nz-button nzType="primary" (click)="onSearch()" class="ant-btn ant-btn-primary ant-btn-icon-only">
                                      <span nz-icon nzType="search" class="anticon"></span>
                                  </button>
                              </span>
                          </span>
                      </nz-input-group>
                  </fieldset>
                </nz-col>
                <nz-col class="ant-col ant-col-lg-16 ant-col-xl-16" style="padding: 12px 6px;">
                    <table-action>
                        <div nz-row class="ant-row">  
                            <div nz-col nzxl="24" nzlg="24" nzmd="0" nzsm="0" nzxs="0" class="ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-0 ant-col-lg-24 ant-col-xl-24">
                                <div nz-flex nzgap="6px" class="ant-flex wrapper-table-action ant-flex-justify-end ant-flex-align-center ant-flex-wrap-nowrap" style="width: 100%; height: 100%; gap: 6px; flex: unset;">
                                    <button (click)="loadCards()" nz-button nztype="text" class="ant-btn load-btn ant-btn-text">
                                        <span nz-icon class="anticon">
                                            <fa-icon class="ng-fa-icon">
                                                <img src="../../../assets/images/logo/rotate-solid.svg" style="height: 14px; width: 14px;" alt="">                                
                                            </fa-icon>
                                        </span>
                                        <span>Tải lại</span>
                                    </button> 
                                    <nz-divider class="ant-divider ant-divider-vertical"></nz-divider>
                                    <button *ngIf="loginService.hasPermission('POST:/api/card')" (click)="showAddCardModal()" nz-button nztype="primary" class="ant-btn add-btn ant-btn-primary" style="display: flex; align-items: center;"> 
                                      <span nz-icon nzType="plus" nzTheme="outline" class="anticon"></span>
                                      <span>Thêm mới</span>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </table-action>
                </nz-col>
            </nz-row>
            <nz-table
              [nzData]="cards"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              [nzFrontPagination]="false"
              [nzShowSizeChanger]="true"
              [nzPageSizeOptions]="[10, 20, 30, 40]"
              [nzShowTotal]="paginationTemplate"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzLoading]="loading" 
              >
              <thead>
                <tr>
                  <th style="width: 60px; min-width: 60px; text-align: center;">#</th>
                  <th>Tên</th>
                  <th>Mã</th>
                  <th>Nhóm thẻ</th>
                  <th>Ngày bắt đầu hiệu lực</th>
                  <th>Ngày hết hạn</th>
                  <th>Biển số</th>
                  <th>Ghi chú</th>
                  <th style="text-align: center;">Trạng thái</th>
                  <th style="text-align: center;"></th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let card of cards; let i = index">
                  <td style="text-align: center;">{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                  <td>{{ card.name }}</td>
                  <td>{{ card.code }}</td> 
                  <td style="color: #0c68e9;">
                    {{ getCardGroupNameById(card.cardGroupId) }}
                    <span *ngIf="card.cardGroupId" style="color: #3f42549d; display: block; font-size: 12px;">{{getVehicleTypeByCardGroupId(card.cardGroupId)}}</span>
                  </td>
                  <td>
                    {{ getFormattedTime(card.startDate) | date:'dd/MM/yyyy' }}<br />
                    {{ getFormattedTime(card.startDate) | date:'HH:mm' }}
                  </td>
                  <td>
                    {{ getFormattedTime(card.endDate) | date:'dd/MM/yyyy' }}<br />
                    {{ getFormattedTime(card.endDate) | date:'HH:mm' }}
                  </td>
                  <td>{{ card.plateNumber }}</td>
                  <td 
                    style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                    nz-tooltip
                    [nzTooltipTitle]="card.note">{{ card.note }}
                  </td>
                  <td style="text-align: center;">
                    <nz-tag [nzColor]="getStatusColor(card.status)" [ngStyle]="{'border-radius': '8px', 'font-size': '12px'}">
                      {{ getCardStatus(card.status)?.label || card.status }}
                    </nz-tag>
                  </td>
                  <td style="text-align: center;">
                    <button *ngIf="loginService.hasPermission('PUT:/api/card/{id}')" nz-button class="ant-btn edit-btn ant-btn-icon-only" (click)="updateCard(card.id)">
                      <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *ngIf="loginService.hasPermission('DELETE:/api/card/{id}')" nz-button class="ant-btn delete-btn ant-btn-icon-only" (click)="deleteCard(card.id)">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <ng-template #paginationTemplate>
                  Tổng số {{ total }} dữ liệu 
              </ng-template>
            </nz-table>
        </div>
    </nz-card>
</div>
  
<nz-modal 
[nzContent]="addCardTpl" 
[(nzVisible)]="isAddModalVisible" 
nzTitle="Thêm mới Thẻ"
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleCancel()" 
(nzOnOk)="handleOk()"
[nzWidth]="600"
></nz-modal>

<ng-template #addCardTpl>
  <form [formGroup]="cardForm" nz-form [nzLayout]="'vertical'">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardName'" [nzRequired]="true">Tên</nz-form-label>
          <nz-form-control>
            <input id="cardName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardCode'" [nzRequired]="true">Mã</nz-form-label>
          <nz-form-control>
            <input id="cardCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardCardGroupId'" [nzRequired]="true">Nhóm thẻ</nz-form-label>
          <nz-form-control>
            <nz-select
              id="cardCardGroupId"
              formControlName="cardGroupId"
              style="width: 100%; border-radius: 8px;"
              nzAllowClear="true"
            >
              <nz-option
                *ngFor="let cardGroup of cardGroups"
                [nzValue]="cardGroup.id"
                [nzLabel]="cardGroup.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardStatus'">Trạng thái</nz-form-label>
          <nz-form-control>
            <nz-select id="cardStatus" formControlName="status" style="width: 100%;">
              <nz-option
                *ngFor="let status of cardStatuses"
                [nzValue]="status.value"
                [nzLabel]="status.label"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16" *ngIf="isMonthlyCardGroup(cardForm.value.cardGroupId)">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardPlateNumber'">Biển số xe</nz-form-label>
          <nz-form-control>
            <input
              id="cardPlateNumber"
              nz-input
              formControlName="plateNumber"
              style="width: 100%; border-radius: 8px;"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16" *ngIf="isMonthlyCardGroup(cardForm.value.cardGroupId)">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardStartDate'" [nzRequired]="true">Ngày bắt đầu hiệu lực</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              id="cardStartDate"
              formControlName="startDate"
              style="width: 100%; border-radius: 8px;"
              nzFormat="dd/MM/yyyy HH:mm:ss"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardEndDate'" [nzRequired]="true">Ngày hết hạn</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              id="cardEndDate"
              formControlName="endDate"
              style="width: 100%; border-radius: 8px;"
              nzFormat="dd/MM/yyyy HH:mm:ss"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardNote'">Ghi chú</nz-form-label>
          <nz-form-control>
            <nz-textarea-count [nzMaxCharacterCount]="100">
              <textarea
                id="cardNote"
                formControlName="note"
                nz-input
                [nzAutosize]="{ minRows: 2, maxRows: 5 }"
                style="width: 100%; border-radius: 8px;"
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>


<nz-modal 
[nzContent]="editCardTpl" 
[(nzVisible)]="isEditModalVisible" 
nzTitle="Cập nhật Thẻ"
nzOktext="Lưu" 
nzCancelText="Hủy bỏ" 
(nzOnCancel)="handleEditCancel()" 
(nzOnOk)="handleEditOk()"
[nzWidth]="600"
></nz-modal>

<ng-template #editCardTpl>
  <form [formGroup]="editCardForm" nz-form [nzLayout]="'vertical'"> 
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardName'" [nzRequired]="true">Tên</nz-form-label>
          <nz-form-control>
            <input id="cardName" nz-input formControlName="name" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardCode'" [nzRequired]="true">Mã</nz-form-label>
          <nz-form-control>
            <input id="cardCode" nz-input formControlName="code" style="border-radius: 8px;" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardCardGroupId'" [nzRequired]="true">Nhóm thẻ</nz-form-label>
          <nz-form-control>
            <nz-select
              id="cardCardGroupId"
              formControlName="cardGroupId"
              style="width: 100%; border-radius: 8px;"
              nzAllowClear="true"
            >
              <nz-option
                *ngFor="let cardGroup of cardGroups"
                [nzValue]="cardGroup.id"
                [nzLabel]="cardGroup.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardStatus'">Trạng thái</nz-form-label>
          <nz-form-control>
            <nz-select id="cardStatus" formControlName="status" style="width: 100%;">
              <nz-option
                *ngFor="let status of cardStatuses"
                [nzValue]="status.value"
                [nzLabel]="status.label"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16" *ngIf="isMonthlyCardGroup(editCardForm.value.cardGroupId)">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardPlateNumber'">Biển số xe</nz-form-label>
          <nz-form-control>
            <input
              id="cardPlateNumber"
              nz-input
              formControlName="plateNumber"
              style="width: 100%; border-radius: 8px;"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="16" *ngIf="isMonthlyCardGroup(editCardForm.value.cardGroupId)">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardStartDate'" [nzRequired]="true">Ngày bắt đầu hiệu lực</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              id="cardStartDate"
              formControlName="startDate"
              style="width: 100%; border-radius: 8px;"
              nzFormat="dd/MM/yyyy HH:mm:ss"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardEndDate'" [nzRequired]="true">Ngày hết hạn</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              id="cardEndDate"
              formControlName="endDate"
              style="width: 100%; border-radius: 8px;"
              nzFormat="dd/MM/yyyy HH:mm:ss"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'cardNote'">Ghi chú</nz-form-label>
          <nz-form-control>
            <nz-textarea-count [nzMaxCharacterCount]="100">
              <textarea
                id="cardNote"
                formControlName="note"
                nz-input
                [nzAutosize]="{ minRows: 2, maxRows: 5 }"
                style="width: 100%; border-radius: 8px;"
              ></textarea>
            </nz-textarea-count>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>